Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

.lintstagedrc.json:

{
  "*.lua": ["luacheck", "stylua"],
  "*.{json,md}": ["prettier --write"]
}

fix(nvim): use imported snacks object
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/snacks.lua
Due: luacheck, stylua

feat(nvim): add more snacks lsp mappings
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/snacks.lua
Due: luacheck, stylua

fix(nvim): use snacks require instead of global Snacks
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/snacks.lua
Due: luacheck, stylua

refactor(nvim): remove ts-comments and fidget plugins
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/fidget.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/ts_comments.lua
  home/dot_config/exact_nvim/nvim-pack-lock.json
Due: luacheck, stylua, prettier --write

refactor(nvim): use version field for bufferline
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/bufferline.lua
Due: luacheck, stylua

feat(nvim): add rumdl to mason parsers
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/servers.lua
Due: luacheck, stylua

feat(homebrew): update used software in brewfile
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none

feat(nvim): add typos and harper tools
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/servers.lua
Due: luacheck, stylua

feat(editorconfig): make toml files use 2 spaces by default
  .editorconfig
Due: none

feat(nvim): set zed and vscode files as jsonc
  home/dot_config/exact_nvim/exact_ftdetect/jsonc.lua
Due: luacheck, stylua

feat(zed): update zed keymap and settings
  home/dot_config/zed/keymap.json
  home/dot_config/zed/private_settings.json
Due: prettier --write

feat(zsh): add `gwt` function to create git worktrees
  home/dot_config/exact_zsh/exact_config/functions.zsh
Due: none

feat(claude): add block dangerous git hook
  home/dot_config/claude/exact_hooks/executable_block-dangerous-git.sh
  home/dot_config/claude/private_settings.json
Due: prettier --write

feat(opencode): add block dangerous git plugin
  home/dot_config/opencode/exact_plugins/block-dangerous-git.ts
Due: none

feat(zsh): improve gwt function
  home/dot_config/exact_zsh/exact_config/functions.zsh
Due: none

feat(zsh): add uuidv7 alias to generate uuidv7
  home/dot_config/exact_zsh/exact_config/aliases.zsh
Due: none

refactor(zsh): remove `gwt` function in favor of `lazygit`
  home/dot_config/exact_zsh/exact_config/functions.zsh
Due: none

feat(claude): update claude settings.json
  home/dot_config/claude/private_settings.json
Due: prettier --write

refactor(homebrew): move hyperduck to personal apps
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none

feat(chezmoi): add macos defaults scripts for init
  home/.chezmoiscripts/run_once_after_setup-macos-defaults.sh.tmpl
Due: none

feat(chezmoi): add macos settings script
  home/.chezmoiscripts/run_once_after_setup-macos-defaults.sh.tmpl
Due: none

refactor(git): remove delta as default pager
  home/dot_config/exact_git/exact_directives/options.gitconfig
Due: none

feat(git): sort tags in version order
  home/dot_config/exact_git/exact_directives/options.gitconfig
Due: none

feat(git): enable prune tags option
  home/dot_config/exact_git/exact_directives/options.gitconfig
Due: none

refactor(htop): remove htop config
  home/dot_config/exact_htop/htoprc
Due: none

docs(chezmoi): add oneliner snippet to discover macos defaults
  home/.chezmoiscripts/run_once_after_setup-macos-defaults.sh.tmpl
Due: none

feat(nvim): make gs search for symbols and make g/ for global search
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/snacks.lua
Due: luacheck, stylua

feat(agents): add zsh-conventions skills
  home/exact_dot_agents/exact_skills/exact_zsh-conventions/SKILL.md
Due: prettier --write

feat(zsh): tweak zsh config according to zsh conventions
  home/dot_config/exact_zsh/dot_zshrc
  home/dot_config/exact_zsh/exact_config/aliases.zsh
  home/dot_config/exact_zsh/exact_config/completion.zsh
  home/dot_config/exact_zsh/exact_config/environment.zsh
  home/dot_config/exact_zsh/exact_config/functions.zsh
  home/dot_config/exact_zsh/exact_config/line-editor.zsh
  home/dot_config/exact_zsh/exact_config/modules.zsh
  home/dot_config/exact_zsh/exact_config/plugins.zsh
Due: none

feat(agents): update agent skills
  home/exact_dot_agents/exact_skills/exact_grill-me/LICENSE
  home/exact_dot_agents/exact_skills/exact_grill-with-docs/ADR-FORMAT.md
  home/exact_dot_agents/exact_skills/exact_grill-with-docs/CONTEXT-FORMAT.md
  home/exact_dot_agents/exact_skills/exact_grill-with-docs/SKILL.md
  home/exact_dot_agents/exact_skills/exact_handoff/SKILL.md
  home/exact_dot_agents/exact_skills/exact_improve-codebase-architecture/DEEPENING.md
  home/exact_dot_agents/exact_skills/exact_improve-codebase-architecture/HTML-REPORT.md
  home/exact_dot_agents/exact_skills/exact_improve-codebase-architecture/INTERFACE-DESIGN.md
  home/exact_dot_agents/exact_skills/exact_improve-codebase-architecture/LANGUAGE.md
  home/exact_dot_agents/exact_skills/exact_improve-codebase-architecture/LICENSE
  home/exact_dot_agents/exact_skills/exact_improve-codebase-architecture/REFERENCE.md
  home/exact_dot_agents/exact_skills/exact_improve-codebase-architecture/SKILL.md
Due: prettier --write

fix(zsh): use == instead of =~ for string comparison
  home/dot_zshenv.tmpl
Due: none

feat(homebrew): add more installed software
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none

feat(homebrew): add trust.json file
  home/dot_config/exact_homebrew/private_trust.json
Due: prettier --write

feat(rumdl): add rumdl config
  .editorconfig
  .rumdl.toml
  README.md
  home/dot_editorconfig
  home/dot_rumdl.toml
Due: prettier --write

feat(yazi): add icloud drive location as a bookmark
  home/dot_config/exact_yazi/keymap.toml
Due: none

refactor(zsh): use separate plugins folder
  home/.chezmoiscripts/run_onchange_after_update-zsh-plugins.sh.tmpl
  home/dot_config/exact_zsh/dot_zshrc
  home/dot_config/exact_zsh/exact_config/environment.zsh
  home/dot_config/exact_zsh/exact_config/init.zsh
  home/dot_config/exact_zsh/exact_config/plugins.zsh
  home/dot_config/exact_zsh/exact_plugins/atuin.zsh
  home/dot_config/exact_zsh/exact_plugins/auto-pair.zsh
  home/dot_config/exact_zsh/exact_plugins/auto-suggestions.zsh
  home/dot_config/exact_zsh/exact_plugins/fast-syntax-highlighting.zsh
  home/dot_config/exact_zsh/exact_plugins/fzf-tab.zsh
  home/dot_config/exact_zsh/exact_plugins/init.zsh
  home/dot_config/exact_zsh/exact_plugins/pure.zsh
  home/dot_config/exact_zsh/exact_plugins/system-clipboard.zsh
  home/dot_config/exact_zsh/plugins-lock.csv
Due: none

feat(yazi): add chezmoi directory as a bookmark
  home/dot_config/exact_yazi/keymap.toml
Due: none

feat(zsh): use new for-syntax and add lock file header
  home/dot_config/exact_zsh/exact_plugins/atuin.zsh
  home/dot_config/exact_zsh/exact_plugins/auto-pair.zsh
  home/dot_config/exact_zsh/exact_plugins/auto-suggestions.zsh
  home/dot_config/exact_zsh/exact_plugins/fast-syntax-highlighting.zsh
  home/dot_config/exact_zsh/exact_plugins/fzf-tab.zsh
  home/dot_config/exact_zsh/exact_plugins/init.zsh
  home/dot_config/exact_zsh/exact_plugins/pure.zsh
  home/dot_config/exact_zsh/exact_plugins/system-clipboard.zsh
  home/dot_config/exact_zsh/plugins-lock.csv
Due: none

feat(homebrew): update trust file
  home/.chezmoiscripts/run_once_after_setup-macos-defaults.sh.tmpl
  home/dot_config/exact_homebrew/private_trust.json
Due: prettier --write

feat(chezmoi): update chezmoi scripts to use bash
  home/.chezmoiscripts/run_once_after_setup-macos-defaults.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_update-neovim-plugins.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_update-yazi-plugins.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_update-zsh-plugins.sh.tmpl
  home/.chezmoitemplates/logger.sh
Due: none
