Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

feat(zsh): add clear alias to prevent accidental clearing of the scrollback buffer
  .config/zsh/config/aliases.zsh
Due: none

feat(nvim): add augroup for auto cursorline autocmd
  .config/nvim/plugin/autocmds.lua
Due: luacheck, stylua

refactor(nvim): remove insert mode events from auto cursorline
  .config/nvim/plugin/autocmds.lua
Due: luacheck, stylua

build: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: improve luacheck and commitlint integrations
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/luacheck.yml
Due: none

ci: run luarocks as sudo user
  .github/workflows/ci.yml
Due: none

ci: adjust casing in commitlint run
  .github/workflows/ci.yml
Due: none

docs: remove luacheck badge from README.md
  README.md
Due: prettier --write

refactor(kitty): remove kitty config
  .config/kitty/config/bell.conf
  .config/kitty/config/colors.conf
  .config/kitty/config/cursor.conf
  .config/kitty/config/fonts.conf
  .config/kitty/config/mappings.conf
  .config/kitty/config/mouse.conf
  .config/kitty/config/scrollback.conf
  .config/kitty/config/shell.conf
  .config/kitty/config/tabbar.conf
  .config/kitty/config/tweaks.conf
  .config/kitty/config/window.conf
  .config/kitty/kitty.app.icns
  .config/kitty/kitty.conf
Due: none

feat(git): make fetch use all remotes and prune branches by default
  .config/git/config
Due: none

feat(zsh): make uuidgen copy to clipboard
  .config/zsh/config/aliases.zsh
Due: none

feat(yazi): add `y` yazi function
  .config/zsh/config/functions.zsh
Due: none

build: upgrade package manager version
  package.json
Due: prettier --write

feat(nvim): enable automatic_installation of mason
  .config/nvim/lua/specs/lsp.lua
Due: luacheck, stylua

feat(nvim): use window dimensions aware K mapping for LSP
  .config/nvim/lua/specs/lsp.lua
Due: luacheck, stylua

feat(nvim): remove some LSP mappings and add ]d [d with virtual_lines
  .config/nvim/lua/specs/lsp.lua
Due: luacheck, stylua

feat(nvim): add filetype detection for help files
  .config/nvim/init.lua
Due: luacheck, stylua

feat(nvim): remove mappings that were added to defaults
  .config/nvim/plugin/mappings/normal.lua
Due: luacheck, stylua

feat(nvim): Set 'winfixbuf' for quickfix buffers.
  .config/nvim/plugin/autocmds.lua
Due: luacheck, stylua

feat(nvim): add early_retirement plugin
  .config/nvim/lua/specs/early_retirement.lua
Due: luacheck, stylua

feat(nvim): add todo_comments plugin
  .config/nvim/lua/specs/todo_comments.lua
Due: luacheck, stylua

feat(nvim): add mappings for windovigation plugin
  .config/nvim/lua/specs/windovigation.lua
Due: luacheck, stylua

feat(nvim): add orphans plugin
  .config/nvim/lua/specs/orphans.lua
Due: luacheck, stylua

feat(nvim): add grug-far plugin for search and replace
  .config/nvim/lua/specs/grug-far.lua
Due: luacheck, stylua

feat(nvim): add ts-error-translator plugin
  .config/nvim/lua/specs/ts-error-translator.lua
Due: luacheck, stylua

refactor(nvim): remove dressing plugin in favor of snacks
  .config/nvim/lua/specs/dressing.lua
Due: luacheck, stylua

feat(nvim): add color_converter plugin
  .config/nvim/lua/specs/color_converter.lua
Due: luacheck, stylua

fix(nvim): enable showtabline value back to its original for diffview
  .config/nvim/lua/specs/diffview.lua
Due: luacheck, stylua

refactor(nvim): remove build script for copilot
  .config/nvim/lua/specs/copilot.lua
Due: luacheck, stylua

refactor(nvim): remove copilot-chat plugin
  .config/nvim/lua/specs/copilot_chat.lua
Due: luacheck, stylua

feat(nvim): add arbor plugin
  .config/nvim/lua/specs/arbor.lua
Due: luacheck, stylua

refactor(nvim): remove zen mode in favor of snacks zen
  .config/nvim/lua/specs/zen_mode.lua
Due: luacheck, stylua

refactor(nvim): use keymaps = false to remove defualt mappings of windovigation
  .config/nvim/lua/specs/windovigation.lua
Due: luacheck, stylua

refactor(nvim): remove telescope plugin
  .config/nvim/lua/specs/telescope.lua
Due: luacheck, stylua

build: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(nvim): add filetype detection mappings
  .config/nvim/init.lua
  .config/nvim/plugin/filetype.lua
Due: luacheck, stylua

feat(yazi): add initial yazi config files
  .config/yazi/keymap.toml
  .config/yazi/theme.toml
  .config/yazi/yazi.toml
Due: none

refactor(lf): remove lf configs altogether
  .config/lf/cleaner.zsh
  .config/lf/icons
  .config/lf/lfrc
  .config/lf/previewer.zsh
Due: none

docs(yazi): remove todos in yazi config
  .config/yazi/keymap.toml
Due: none

refactor(zsh): simplify uuidgen alias
  .config/zsh/config/aliases.zsh
Due: none

Path conditions:
  luacheck: any of: *.lua
  stylua: any of: *.lua
  prettier --write: any of: *.{json,md}
