Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

feat(lf): use kitty icat utility to preview images
  .config/lf/cleaner.zsh
  .config/lf/lfrc
  .config/lf/previewer.zsh
Due: none

refactor(nvim): remove Grep command
  .config/nvim/plugin/commands.lua
Due: luacheck, stylua

feat(nvim): update cmp config, add window.documentation and formatting
  .config/nvim/plugin/packages/cmp.lua
Due: luacheck, stylua

refactor(nvim): move indent_markers config of nvim-tree inside setup
  .config/nvim/plugin/packages/nvim_tree.lua
Due: luacheck, stylua

fix(nvim): make unused argument _ for format function of cmp
  .config/nvim/plugin/packages/cmp.lua
Due: luacheck, stylua

refactor(nvim): use new keymap module for mappings
  .config/nvim/lua/kutsan/mappings/normal/rename.lua
  .config/nvim/lua/kutsan/utils.lua
  .config/nvim/plugin/mappings/command.lua
  .config/nvim/plugin/mappings/motion.lua
  .config/nvim/plugin/mappings/normal.lua
  .config/nvim/plugin/mappings/operator.lua
  .config/nvim/plugin/mappings/visual.lua
  .config/nvim/plugin/packages/diffview.lua
  .config/nvim/plugin/packages/fugitive.lua
  .config/nvim/plugin/packages/fzf_lua.lua
  .config/nvim/plugin/packages/lspconfig.lua
  .config/nvim/plugin/packages/luasnip.lua
  .config/nvim/plugin/packages/nvim_tree.lua
  .config/nvim/plugin/packages/undotree.lua
Due: luacheck, stylua

refactor(nvim): remove toggle terminal mappings
  .config/nvim/lua/kutsan/mappings/normal/terminal.lua
  .config/nvim/plugin/mappings/normal.lua
Due: luacheck, stylua

refactor(nvim): use keymap callback for mappings
  .config/nvim/lua/kutsan/mappings/normal/buffer.lua
  .config/nvim/plugin/mappings/motion.lua
  .config/nvim/plugin/mappings/normal.lua
Due: luacheck, stylua

refactor(nvim): use augroups for autocmds
  .config/nvim/plugin/autocmds.lua
Due: luacheck, stylua

refactor(editorconfig): move editorconfig file back to project root
  .editorconfig
Due: none

refactor(nvim): remove rename symbol mapping
  .config/nvim/plugin/mappings/normal.lua
Due: luacheck, stylua

feat(nvim): add mappings to navigate between display lines
  .config/nvim/plugin/mappings/normal.lua
Due: luacheck, stylua

refactor(nvim): add behavior replace option to <CR> mapping of cmp
  .config/nvim/plugin/packages/cmp.lua
Due: luacheck, stylua

refactor(nvim): change <C-b> buffers mapping to <Space><Space>
  .config/nvim/plugin/packages/fzf_lua.lua
Due: luacheck, stylua

refactor(nvim): use new keymap API to set mappings inside LSP handle event
  .config/nvim/plugin/packages/lspconfig.lua
Due: luacheck, stylua

fix(nvim): remove unused variables
  .config/nvim/plugin/packages/lspconfig.lua
Due: luacheck, stylua

refactor(nvim): remove inspect function because now there is vim.pretty_print
  .config/nvim/plugin/debug.lua
Due: luacheck, stylua

refactor(nvim): use keymap.set without vim global
  .config/nvim/plugin/mappings/normal.lua
Due: luacheck, stylua

feat(nvim): add auto-close nvim-tree autocmd
  .config/nvim/plugin/autocmds.lua
Due: luacheck, stylua

feat(nvim): add select next and previous mappings to cmp
  .config/nvim/plugin/packages/cmp.lua
Due: luacheck, stylua

refactor(zsh): open journal root with `j` alias
  .config/zsh/config/aliases.zsh
Due: none

refactor(nvim): do not set nvim-tree `bo.statusline` since `laststatus=0`
  .config/nvim/plugin/packages/nvim_tree.lua
Due: luacheck, stylua

refactor(nvim): remove unused api variable in nvim_tree.lua
  .config/nvim/plugin/packages/nvim_tree.lua
Due: luacheck, stylua

fix(nvim): migrate to new auto_resize config for nvim-tree
  .config/nvim/plugin/packages/nvim_tree.lua
Due: luacheck, stylua

refactor(zsh): remove j journal alias
  .config/zsh/config/aliases.zsh
Due: none

refactor(nvim): remove nvim-fzf since it's not required by fzf-lua anymore
  .gitmodules
  README.md
Due: prettier --write

feat(mpv): set subtitle font size
  .config/mpv/mpv.conf
Due: none

feat(nvim): set default previewer for fzf-lua
  .config/nvim/plugin/packages/fzf_lua.lua
Due: luacheck, stylua

refactor(git): do not sign work commits anymore
  .config/git/work.gitconfig
Due: none

feat(nvim): update custom material theme overrides
  .config/nvim/plugin/packages/material.lua
Due: luacheck, stylua

feat(nvim): use fixed width completion menu
  .config/nvim/plugin/packages/cmp.lua
Due: luacheck, stylua

refactor(nvim): move devicons setup inside devicons.lua
  .config/nvim/init.lua
  .config/nvim/plugin/packages/devicons.lua
Due: luacheck, stylua

refactor(nvim): use <C-b> to switch buffers
  .config/nvim/plugin/packages/fzf_lua.lua
Due: luacheck, stylua

feat(mpv): set custom font settings
  .config/mpv/mpv.conf
Due: none

feat(nvim): add stylelint diagnostics to null-ls
  .config/nvim/plugin/packages/lspconfig.lua
Due: luacheck, stylua

refactor(nvim): only use signature_help for insert mode
  .config/nvim/plugin/packages/lspconfig.lua
Due: luacheck, stylua

feat(nvim): disable command-line area, thanks @Shougo
  .config/nvim/plugin/settings.lua
Due: luacheck, stylua

refactor(nvim): update deprecated config for diffview
  .config/nvim/plugin/packages/diffview.lua
Due: luacheck, stylua

Path conditions:
  luacheck: any of: *.lua
  stylua: any of: *.lua
  prettier --write: any of: *.{json,md}
