Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

.lintstagedrc.json:

{
  "*.lua": ["luacheck", "stylua"],
  "*.{json,md}": ["prettier --write"]
}

refactor(nvim): add type comments to api files
  home/dot_config/exact_nvim/exact_lua/exact_user-api/exact_keymaps/select_entire_buffer.lua
  home/dot_config/exact_nvim/exact_lua/exact_user-api/exact_options/generate_foldtext.lua
  home/dot_config/exact_nvim/exact_lua/exact_user-api/exact_options/set_undo_ftplugin.lua
Due: luacheck, stylua

feat(nvim): update mason tools after vim.pack has installed plugins
  home/.chezmoiscripts/run_onchange_after_update-neovim-plugins.sh.tmpl
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_plugins/mason_tool_installer.lua
Due: luacheck, stylua

refactor(chezmoi): clean mason tools when syncing neovim plugins
  home/.chezmoiscripts/run_onchange_after_update-neovim-plugins.sh.tmpl
Due: none

feat(nvim): use copilot LSP instead of copilot.lua plugin
  home/dot_config/exact_nvim/exact_lsp/copilot.lua
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_plugins/copilot.lua
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_plugins/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_plugins/mason_tool_installer.lua
  home/dot_config/exact_nvim/nvim-pack-lock.json
Due: luacheck, stylua, prettier --write

feat(nvim): use ivy layout for grep for snacks
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_plugins/snacks.lua
Due: luacheck, stylua

feat(nvim): use separate LSP folder for LSP config
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_lsp/document_highlight.lua
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_lsp/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_lsp/inlay_hints.lua
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_lsp/inline_completion.lua
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_lsp/keymaps.lua
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_options/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_options/lsp.lua
  home/dot_config/exact_nvim/init.lua
Due: luacheck, stylua

feat(nvim): add snippet keymaps
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_keymaps/normal.lua
Due: luacheck, stylua

refactor(nvim): move lsp server config to lsp folder
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_lsp/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_lsp/servers.lua
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_plugins/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_plugins/lsp_config.lua
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_plugins/mason.lua
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_plugins/mason_lsp_config.lua
Due: luacheck, stylua

refactor(nvim): reorder lsp config load order
  home/dot_config/exact_nvim/init.lua
Due: luacheck, stylua

feat(homebrew): update installed mac app store apps
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none

feat(nvim): move lua module loader to the first line of init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_plugins/init.lua
  home/dot_config/exact_nvim/init.lua
Due: luacheck, stylua

refactor(nvim): remove deprecated vim.highlight
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_autocmds/buffers.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/document_highlight.lua
Due: luacheck, stylua

feat(nvim): add plugin hooks to update mason tools
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/servers.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugin_hooks/init.lua
  home/dot_config/exact_nvim/init.lua
Due: luacheck, stylua

refactor(nvim): remove grapple plugin
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/bufferline.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/grapple.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/init.lua
  home/dot_config/exact_nvim/nvim-pack-lock.json
Due: luacheck, stylua, prettier --write

feat(nvim): enable statuscolumn of snacks
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/snacks.lua
Due: luacheck, stylua

refactor(nvim): use .luarc.jsonc file
  home/dot_config/exact_nvim/dot_luarc.json
  home/dot_config/exact_nvim/dot_luarc.jsonc
Due: prettier --write

feat(nvim): eanble sort requires to stylua
  home/dot_config/exact_nvim/stylua.toml
Due: none

feat(nvim): add tree-sitter support with the new branch
  home/dot_config/exact_homebrew/Brewfile.tmpl
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugin_hooks/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/treesitter.lua
  home/dot_config/exact_nvim/nvim-pack-lock.json
Due: luacheck, stylua, prettier --write

refactor(nvim): move tree sitter functionality to its own folder
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_treesitter/auto-tag.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_treesitter/context.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_treesitter/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_treesitter/parsers.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_treesitter/text-objects.lua
  home/dot_config/exact_nvim/init.lua
  home/dot_config/exact_nvim/nvim-pack-lock.json
Due: luacheck, stylua, prettier --write

feat(git): ignore .pnpm-store globally
  home/dot_config/exact_git/ignore
Due: none

refactor(chezmoi): run mason installers in a new neovim process
  home/.chezmoiscripts/run_onchange_after_update-neovim-plugins.sh.tmpl
Due: none

fix(nvim): ignore highlight in visual selections
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/document_highlight.lua
Due: luacheck, stylua

fix(nvim): cancel pending document highlight requests when a new one is made
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/document_highlight.lua
Due: luacheck, stylua

refactor(nvim): remove ununsed err value
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/document_highlight.lua
Due: luacheck, stylua

refactor(ghostty): remove macos-icon overrides
  home/dot_config/exact_ghostty/config
Due: none

feat(zsh): use `g` as git aliases again
  home/dot_config/exact_zsh/exact_config/aliases.zsh
Due: none

refactor(zsh): remove unused `ln` alias
  home/dot_config/exact_zsh/exact_config/aliases.zsh
Due: none

feat(ghostty): add shift resize modifier for increased resize jumps
  home/dot_config/exact_ghostty/config
Due: none

feat(git): add `gt` and `gtl` git aliases
  home/dot_config/exact_git/exact_directives/aliases.gitconfig
  home/dot_config/exact_zsh/exact_config/aliases.zsh
Due: none

feat(nvim): ignore .DS_Store files in Snacks explorer
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/snacks.lua
Due: luacheck, stylua

refactor(claude): always allow registry.npmjs.org for webfetch
  home/dot_config/claude/private_settings.json
Due: prettier --write

refactor(nvim): update plugins
  home/dot_config/exact_nvim/nvim-pack-lock.json
Due: prettier --write

refactor(homebrew): replace clean links with hyperduck
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none

feat(agents): update grill-me skill
  home/exact_dot_agents/exact_skills/exact_grill-me/SKILL.md
Due: prettier --write

refactor(homebrew): remove certain packages from common targets
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none

feat(claude): add tui config
  home/dot_config/claude/private_settings.json
Due: prettier --write

refactor(nvim): use neovim apis instead of vim.fn and vim.cmd
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_api/exact_keymaps/buffer.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_api/exact_keymaps/select_entire_buffer.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_api/exact_options/generate_foldtext.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_api/exact_options/set_shada_file.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_autocmds/buffers.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_autocmds/windows.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_keymaps/normal.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/servers.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugin_hooks/init.lua
Due: luacheck, stylua

feat(nvim): add snacks lsp mappings
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/keymaps.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/snacks.lua
Due: luacheck, stylua

fix(nvim): use new autocmd group name for snacks lsp keymaps
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/snacks.lua
Due: luacheck, stylua
