Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

.lintstagedrc.json:

{
  "*.lua": ["luacheck", "stylua"],
  "*.{json,md}": ["prettier --write"]
}

build(editorconfig): add package.json section
  .editorconfig
Due: none

feat(yazi): update theme colors and styles
  .config/yazi/theme.toml
Due: none

refactor(nvim): replace autopairs with mini-pairs
  .config/nvim/lua/specs/autopairs.lua
  .config/nvim/lua/specs/mini_pairs.lua
Due: luacheck, stylua

feat(nvim): add js-debug-adapter to mason tool installer with ESM patch
  .config/nvim/lua/specs/mason_tool_installer.lua
Due: luacheck, stylua

feat(nvim): enhance snacks file picker behavior
  .config/nvim/lua/specs/snacks.lua
Due: luacheck, stylua

refactor(nvim): remove noice and nui plugin
  .config/nvim/lua/specs/noice.lua
  .config/nvim/lua/specs/nui.lua
Due: luacheck, stylua

feat(nvim): disable persistent undo for sensitive files
  .config/nvim/plugin/autocmds/buffers.lua
Due: luacheck, stylua

feat(nvim): update cursor settings
  .config/nvim/plugin/settings.lua
Due: luacheck, stylua

refactor(nvim): disable J key to prevent accidental line joining
  .config/nvim/plugin/keymaps/normal.lua
Due: luacheck, stylua

refactor(nvim): remove autopairs cmp integration
  .config/nvim/lua/specs/cmp.lua
Due: luacheck, stylua

feat(nvim): improve window autocmds for cursorline behavior
  .config/nvim/plugin/autocmds/windows.lua
Due: luacheck, stylua

feat(nvim): add inline completion mappings
  .config/nvim/plugin/lsp.lua
Due: luacheck, stylua

refactor(nvim): update save keymap to use function
  .config/nvim/plugin/keymaps/normal.lua
Due: luacheck, stylua

refactor(nvim): use vim.fn and vim.cmd directly in keymaps/normal.lua
  .config/nvim/plugin/keymaps/normal.lua
Due: luacheck, stylua

feat(opencode): add initial opencode config
  .config/opencode/opencode.jsonc
Due: none

feat(opencode): add simplify-code command
  .config/opencode/command/simplify-code.md
Due: prettier --write

refactor(nvim): do not use treesitter for folding and indentation
  .config/nvim/lua/specs/treesitter.lua
  .config/nvim/plugin/settings.lua
Due: luacheck, stylua

refactor(nvim): remove scss from treesitter install list
  .config/nvim/lua/specs/treesitter.lua
Due: luacheck, stylua

feat(nvim): suppress "written" message on save
  .config/nvim/plugin/settings.lua
Due: luacheck, stylua

refactor(nvim): remove neovide config and keymaps
  .config/neovide/config.toml
  .config/neovide/icon.icns
  .config/nvim/plugin/gui.lua
Due: luacheck, stylua

feat(nvim): add empty lua config to indicate project root
  .config/nvim/.luarc.json
Due: prettier --write

feat(zsh): add QMK_HOME environment variable
  .config/zsh/config/exports.zsh
Due: none

build: add Brewfile for Homebrew package management
  Brewfile
Due: none

feat(yazi): update icon theme
  .config/yazi/theme.toml
Due: none

feat(zed): add initial zed config files
  .config/zed/keymap.json
  .config/zed/settings.json
  .config/zed/themes/catppuccin-blue.json
Due: prettier --write

ci: use custom luacheck config and only lint Neovim files
  .github/workflows/ci.yml
Due: none

feat(zsh): migrate to zinit plugin manager
  home/dot_config/exact_zsh/exact_config/load.zsh
  home/dot_config/exact_zsh/exact_config/plugins.zsh
  home/dot_config/exact_zsh/exact_config/prompt.zsh
Due: none

build: update Brewfile to include chezmoi
  home/Brewfile
Due: none

refactor: load zsh-autosuggestions earlier and in light mode
  home/dot_config/exact_zsh/exact_config/plugins.zsh
Due: none

refactor(nvim): remove guicursor overrides
  home/dot_config/exact_nvim/exact_plugin/settings.lua
Due: luacheck, stylua

feat(nvim): add chezmoi syntax plugin
  home/dot_config/exact_nvim/exact_lua/exact_specs/chezmoi.lua
  home/dot_config/exact_nvim/lazy-lock.json
Due: luacheck, stylua, prettier --write

feat(chezmoi): add initial chezmoi config template
  home/.chezmoi.toml.tmpl
Due: none

refactor(nvim): remove projects picker from snacks
  home/dot_config/exact_nvim/exact_lua/exact_specs/snacks.lua
Due: luacheck, stylua

refactor(git): update 'recent' alias in gitconfig
  home/dot_config/git/aliases.gitconfig
Due: none

refactor(nvim): update lazy-lock.json with latest plugin commits
  home/dot_config/exact_nvim/lazy-lock.json
Due: prettier --write

feat(zsh): add additional checks for macOS-specific aliases and functions
  home/dot_config/exact_zsh/exact_config/aliases.zsh
Due: none

refactor(zsh): update export paths and comments
  home/dot_config/exact_zsh/exact_config/exports.zsh
Due: none

feat(qmk): add initial QMK configuration
  home/Library/Application Support/symlink_qmk.tmpl
  home/dot_config/exact_qmk-userspace/exact_keyboards/exact_keychron/exact_v4/exact_ansi/exact_keymaps/exact_main/keymap.c
  home/dot_config/exact_qmk-userspace/qmk.json
  home/dot_config/exact_qmk/qmk.ini.tmpl
Due: prettier --write
