Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

.lintstagedrc.json:

{
  "*.lua": ["luacheck", "stylua"],
  "*.{json,md}": ["prettier --write"]
}

fix(nvim): use dynamic_command instead of command for null-ls
  .config/nvim/plugin/packages/lspconfig.lua
Due: luacheck, stylua

refactor(nvim): use new indexed cmd API
  .config/nvim/lua/kutsan/mappings/motion/entire.lua
  .config/nvim/lua/kutsan/mappings/normal/buffer.lua
  .config/nvim/plugin/autocmds.lua
  .config/nvim/plugin/settings.lua
Due: luacheck, stylua

feat(git): add prune-merged alias
  .config/git/aliases.gitconfig
Due: none

fix(git): use long flag for -d in prune-merged
  .config/git/aliases.gitconfig
Due: none

feat(kitty): add custom kitty icon, thanks @DinkDonk
  .config/kitty/kitty.app.icns
Due: none

feat(nvim): add experimental copilot plugin and cmp source
  .config/nvim/plugin/packages/cmp.lua
  .config/nvim/plugin/packages/copilot.lua
  .config/nvim/plugin/packages/material.lua
  .gitmodules
Due: luacheck, stylua

feat(zsh): add --no-separator to fzf opts
  .config/zsh/config/exports.zsh
  README.md
Due: prettier --write

build(nvim): update nvim plugins
  .config/nvim/plugin/packages/lspconfig.lua
  .config/nvim/plugin/packages/material.lua
Due: luacheck, stylua

refactor(nvim): remove copilot support, apparently it was not for me
  .config/nvim/plugin/packages/cmp.lua
  .config/nvim/plugin/packages/copilot.lua
  .config/nvim/plugin/packages/material.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

feat(zsh): add docker bin path
  .config/zsh/config/exports.zsh
Due: none

feat(git): use only fast-forward merges for git pull
  .config/git/config
Due: none

refactor(ledger): use the config file in config directory
  .config/ledger/ledgerrc
  .ledgerrc
Due: none

refactor(git): revert git push default
  .config/git/config
Due: none

feat(zsh): use Documents folder for personal and work projects
  .config/git/config
  .config/ledger/ledgerrc
  .config/lf/lfrc
Due: none

refactor(nvim): remove polyglot plugin to install tree-sitter
  .config/nvim/plugin/packages/polyglot.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

refactor(nvim): remove material colorscheme
  .config/nvim/plugin/packages/material.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

refactor(termux): remove termux configuration files altogether
  .config/termux/colors.properties
  .config/termux/termux.properties
Due: none

feat(nvim): add catppuccin colorscheme
  .config/nvim/plugin/packages/catppuccin.lua
  .config/nvim/plugin/settings.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

refactor(kitty): change background colors
  .config/kitty/config/colors.conf
  .config/kitty/config/tabbar.conf
Due: none

feat(nvim): add treesitter and treesitter-context plugins
  .config/nvim/plugin/packages/treesitter.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

refactor(nvim): rename sumneko_lua to lua_ls
  .config/nvim/plugin/packages/lspconfig.lua
Due: luacheck, stylua

feat(nvim): enable show_current_context option of indent_blankline
  .config/nvim/plugin/packages/indent_blankline.lua
Due: luacheck, stylua

refactor(nvim): set floating_windows_width to 80
  .config/nvim/plugin/packages/lspconfig.lua
Due: luacheck, stylua

feat(transmission): update transmission config
  .config/transmission-daemon/settings.json
Due: prettier --write

refactor(kitty): update font size to 17pts
  .config/kitty/config/fonts.conf
Due: none

refactor(nvim): remove default very magic mode search
  .config/nvim/plugin/mappings/normal.lua
  .config/nvim/plugin/mappings/visual.lua
Due: luacheck, stylua

refactor(nvim): remove 'cmdheight' setting, it's a little bit buggy to use
  .config/nvim/plugin/settings.lua
Due: luacheck, stylua

docs: add colima
  README.md
Due: prettier --write

feat(nvim): add copilot support
  .config/nvim/plugin/packages/copilot.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

feat(nvim): add copilot support to cmp
  .config/nvim/plugin/packages/cmp.lua
Due: luacheck, stylua

feat(nvim): add additional highlights to color scheme
  .config/nvim/plugin/packages/catppuccin.lua
Due: luacheck, stylua

feat(nvim): add ensure_installed all to treesitter
  .config/nvim/plugin/packages/treesitter.lua
Due: luacheck, stylua

refactor(nvim): use new on_attach event for nvim-tree
  .config/nvim/plugin/packages/nvim_tree.lua
Due: luacheck, stylua

refactor(nvim): remove copilot support
  .config/nvim/plugin/packages/cmp.lua
  .config/nvim/plugin/packages/copilot.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

feat(nvim): make autopairs work nicely with cmp
  .config/nvim/plugin/packages/autopairs.lua
Due: luacheck, stylua

refactor(zsh): make `v` alias evaluate $EDITOR instead of nvim
  .config/zsh/config/aliases.zsh
Due: none
