Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

feat(atuin): set enter_accept to false
  home/dot_config/exact_atuin/config.toml
Due: none

feat(chezmoi): use nvim as merge tool
  home/.chezmoi.toml.tmpl
Due: none

feat(atuin): add more config options
  home/dot_config/exact_atuin/config.toml
Due: none

feat(atuin): tweak ui options
  home/dot_config/exact_atuin/config.toml
Due: none

refactor(zsh): use alternate form of for loop
  home/dot_config/exact_zsh/exact_config/aliases.zsh
Due: none

feat(zsh): update snacks mappings
  home/dot_config/exact_nvim/exact_lua/exact_specs/snacks.lua
Due: luacheck, stylua

refactor(ghostty): use overrides section to override ghostty themes
  home/dot_config/exact_ghostty/exact_themes/catppuccin-latte.conf
  home/dot_config/exact_ghostty/exact_themes/catppuccin-mocha.conf
Due: none

feat(nvim): add latte text color overrides for catppuccin theme
  home/dot_config/exact_nvim/exact_lua/exact_specs/catppuccin.lua
Due: luacheck, stylua

refactor(yazi): edit xdg directory bookmarks
  home/dot_config/exact_yazi/keymap.toml
Due: none

feat(zsh): change zcomp dump file location to cache directory
  home/dot_config/exact_zsh/dot_zlogin
  home/dot_config/exact_zsh/exact_config/load.zsh
Due: none

refactor(zsh): improve variable names of compinit section
  home/dot_config/exact_zsh/exact_config/completion.zsh
Due: none

feat(zsh): improve zcompdump file creation logic
  home/dot_config/exact_zsh/dot_zlogin
  home/dot_config/exact_zsh/exact_config/completion.zsh
Due: none

feat(git): add global excluded files config
  home/dot_config/exact_git/ignore
Due: none

feat(claude): add initial claude code settings
  home/dot_claude/private_settings.json
Due: prettier --write

feat(git): use exact users directory instead
  home/dot_config/exact_git/exact_users/.chezmoiignore
  home/dot_config/exact_git/exact_users/kutsan.gitconfig
  home/dot_config/exact_git/exact_users/reyhan.gitconfig
Due: none

feat(atuin): improve atuin config and enable vim keymap mode
  home/dot_config/exact_atuin/config.toml
Due: none

feat(claude): set `terminalProgressBarEnabled` to its default
  home/dot_claude/private_settings.json
Due: prettier --write

feat(claude): disable spinner verbs
  home/dot_claude/private_settings.json
Due: prettier --write

feat(nvim): add gitcommit filetype to copilot
  home/dot_config/exact_nvim/exact_lua/exact_specs/copilot.lua
Due: luacheck, stylua

feat(qmk): add initial keymap docs and scripts for QMK
  home/dot_config/exact_qmk-userspace/.chezmoiignore
  home/dot_config/exact_qmk-userspace/README.md
  home/dot_config/exact_qmk-userspace/assets/keychron-v4-ansi-main.svg
  home/dot_config/exact_qmk-userspace/scripts/generate-docs.ts
  home/dot_config/exact_qmk-userspace/scripts/keymap-config.yaml
Due: prettier --write

refactor(qmk): remove windows base layer
  home/dot_config/exact_qmk-userspace/assets/keychron-v4-ansi-main.svg
  home/dot_config/exact_qmk-userspace/exact_keyboards/exact_keychron/exact_v4/exact_ansi/exact_keymaps/exact_main/keymap.c
Due: none

refactor(claude): add .editorconfig to claude settings
  home/dot_claude/.editorconfig
  home/dot_claude/private_settings.json
Due: prettier --write

refactor(chezmoi): move external config for zinit to a separate file
  home/.chezmoiexternals/zinit.toml
Due: none

refactor(nvim): remove copilot plugin in favor of minuet
  home/dot_config/exact_nvim/exact_lua/exact_specs/copilot.lua
Due: luacheck, stylua

feat(nvim): add minuet plugin with mercury-edit model
  home/dot_config/exact_nvim/exact_lua/exact_specs/minuet.lua
  home/dot_config/exact_nvim/exact_lua/exact_specs/plenary.lua
Due: luacheck, stylua

refactor(nvim): explicitly define key mappings for surround
  home/dot_config/exact_nvim/exact_lua/exact_specs/surround.lua
Due: luacheck, stylua

refactor(nvim): update lazy-lock.json with latest commits
  home/dot_config/exact_nvim/lazy-lock.json
Due: prettier --write

style(claude): format claude settings file
  home/dot_claude/private_settings.json
Due: prettier --write

feat(zsh): add atuin-up-search-viins mapping for Atuin search
  home/dot_config/exact_zsh/exact_config/mappings.zsh
Due: none

feat(nvim): make reveal in explorer smarter
  home/dot_config/exact_nvim/exact_lua/exact_specs/snacks.lua
Due: luacheck, stylua

feat(nvim): enable zen mode
  home/dot_config/exact_nvim/exact_lua/exact_specs/snacks.lua
Due: luacheck, stylua

refactor(nvim): change snacks resume keybinding
  home/dot_config/exact_nvim/exact_lua/exact_specs/snacks.lua
Due: luacheck, stylua

feat(nvim): add range format support for conform
  home/dot_config/exact_nvim/exact_lua/exact_specs/conform.lua
  home/dot_config/exact_nvim/exact_plugin/lsp.lua
Due: luacheck, stylua

refactor(nvim): remove unused client variable in lsp.lua
  home/dot_config/exact_nvim/exact_plugin/lsp.lua
Due: luacheck, stylua

refactor(nvim): disable italics and bold styles in bufferline
  home/dot_config/exact_nvim/exact_lua/exact_specs/bufferline.lua
Due: luacheck, stylua

feat(nvim): enable scroll plugin in snacks
  home/dot_config/exact_nvim/exact_lua/exact_specs/snacks.lua
Due: luacheck, stylua

refactor(nvim): disable scroll plugin for now
  home/dot_config/exact_nvim/exact_lua/exact_specs/snacks.lua
Due: luacheck, stylua

feat(nvim): add macro recording indicator plugin
  home/dot_config/exact_nvim/exact_plugin/exact_autocmds/macro.lua
Due: luacheck, stylua

feat(nvim): use <Tab> instead of <Space> for snacks selection
  home/dot_config/exact_nvim/exact_lua/exact_specs/snacks.lua
Due: luacheck, stylua

Path conditions:
  luacheck: any of: *.lua
  stylua: any of: *.lua
  prettier --write: any of: *.{json,md}
