Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

.lintstagedrc.json:

{
  "*.lua": ["luacheck", "stylua"],
  "*.{json,md}": ["prettier --write"]
}

feat(nvim): add DiffDelete highlight override
  .config/nvim/plugin/packages/catppuccin.lua
Due: luacheck, stylua

refactor(nvim): use only lua for ensure_installed
  .config/nvim/plugin/packages/treesitter.lua
Due: luacheck, stylua

refactor(nvim): change Folded highlight
  .config/nvim/plugin/packages/catppuccin.lua
Due: luacheck, stylua

refactor(nvim): change listing style of diffview
  .config/nvim/plugin/packages/diffview.lua
Due: luacheck, stylua

refactor(nvim): remove fzf-lua plugin
  .config/nvim/plugin/packages/fzf_lua.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

feat(nvim): add telescope plugin
  .config/nvim/plugin/packages/catppuccin.lua
  .config/nvim/plugin/packages/telescope.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

feat(kitty): remove macos-launch-services-cmdline and add toggle mapping
  .config/kitty/config/mappings.conf
  .config/kitty/macos-launch-services-cmdline
Due: none

feat(nvim): add <Esc> to close telescope window mapping
  .config/nvim/plugin/packages/telescope.lua
Due: luacheck, stylua

refactor(git): change work folder location
  .config/git/config
  .config/lf/lfrc
Due: none

feat(zsh): change npm config author email and url
  .config/zsh/config/exports.zsh
Due: none

refactor(lf): remove `bo` mapping
  .config/lf/lfrc
Due: none

refactor(git): remove work config
  .config/git/config
  .config/git/work.gitconfig
Due: none

refactor(ledger): remove ledgerrc file, make it local to the project
  .config/ledger/ledgerrc
Due: none

refactor(nvim): remove comment mappings to support built-in commenting
  .config/nvim/autoload/kutsan/mappings/operator/comment.vim
  .config/nvim/plugin/mappings/operator.lua
Due: luacheck, stylua

refactor(nvim): enable cmdheight=0 again
  .config/nvim/plugin/settings.lua
Due: luacheck, stylua

feat(nvim): enable confirm option
  .config/nvim/plugin/settings.lua
Due: luacheck, stylua

refactor(nvim): disable 'foldtext' to show highlighted code
  .config/nvim/plugin/settings.lua
Due: luacheck, stylua

refactor(nvim): remove unused operator file
  .config/nvim/plugin/mappings/operator.lua
Due: luacheck, stylua

refactor(nvim): replace deprecated nvim_buf_get_option and nvim_buf_set_option
  .config/nvim/plugin/autocmds.lua
Due: luacheck, stylua

feat(nvim): change Folded highlight group background color
  .config/nvim/plugin/packages/catppuccin.lua
Due: luacheck, stylua

refactor(zsh): remove gnu-tar, use built-in tar
  .config/zsh/config/exports.zsh
Due: none

feat(nvim): add mason for lsp servers
  .config/nvim/plugin/packages/lspconfig.lua
Due: luacheck, stylua

refactor(nvim): remove unused syntax mappings
  .config/nvim/lua/kutsan/mappings/normal/syntax.lua
  .config/nvim/plugin/mappings/normal.lua
Due: luacheck, stylua

refactor(nvim): remove indent_blankline integration for catppuccin
  .config/nvim/plugin/packages/catppuccin.lua
Due: luacheck, stylua

refactor(nvim): clean cmp config
  .config/nvim/plugin/packages/cmp.lua
Due: luacheck, stylua

refactor(nvim): remove plugins from git submodules
  .gitmodules
Due: none

feat(nvim): add windovigation plugin
  .config/nvim/lazy-lock.json
  .config/nvim/lua/specs/windovigation.lua
Due: luacheck, stylua, prettier --write

docs: fix typo in README
  README.md
Due: prettier --write

refactor(nvim): remove luasnip in favor of native vim.snippet
  .config/nvim/lazy-lock.json
  .config/nvim/lua/specs/cmp.lua
  .config/nvim/lua/specs/luasnip.lua
  README.md
Due: luacheck, stylua, prettier --write

refactor(nvim): remove vim.loop from lazy init code
  .config/nvim/init.lua
Due: luacheck, stylua

fix(nvim): run setup function of gitsigns
  .config/nvim/lua/specs/gitsigns.lua
Due: luacheck, stylua

refactor(nvim): remove dressing plugin
  .config/nvim/lazy-lock.json
  .config/nvim/lua/specs/dressing.lua
  README.md
Due: luacheck, stylua, prettier --write

refactor(trash): remove trash in favor of trash-cli package
  .local/bin/trash
Due: none

docs: remove neovim plugins, can't keep track of them
  README.md
Due: prettier --write

docs: add trash-cli utility
  README.md
Due: prettier --write

refactor(zsh): remove custom vicmd normal mode symbol
  .config/zsh/config/prompt.zsh
Due: none

feat(nvim): override Whitespace highlight group
  .config/nvim/lua/specs/catppuccin.lua
Due: luacheck, stylua
