Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

refactor(nvim): update deprecated config of nvim-tree
  .config/nvim/plugin/packages/nvim_tree.lua
Due: luacheck, stylua

refactor(nvim): disable colored_cursor of material color scheme
  .config/nvim/plugin/packages/material.lua
Due: luacheck, stylua

refactor(nvim): use new vim.lsp.buf.format to format files
  .config/nvim/plugin/packages/lspconfig.lua
Due: luacheck, stylua

refactor(nvim): change vim.lsp.buf.format filter variable name to server
  .config/nvim/plugin/packages/lspconfig.lua
Due: luacheck, stylua

refactor(nvim): remove unused g variable
  .config/nvim/plugin/packages/nvim_tree.lua
Due: luacheck, stylua

refactor(nvim): remove visual selection mappings since neovim support it now
  .config/nvim/lua/kutsan/mappings/visual/search.lua
  .config/nvim/plugin/mappings/visual.lua
Due: luacheck, stylua

docs: add repository logo
  README.md
Due: prettier --write

docs: add logo inside repository
  .github/assets/logo.png
Due: none

docs: link logo from assets
  README.md
Due: prettier --write

docs: update repository logo
  .github/assets/logo.png
Due: none

refactor: remove NvimTreeNormal override from color scheme
  .config/nvim/plugin/packages/material.lua
Due: luacheck, stylua

refactor(transmission): remove RPC authentication
  .config/transmission-daemon/settings.json
  .config/zsh/config/exports.zsh
Due: prettier --write

style(transmission): change indent width of config file
  .config/transmission-daemon/settings.json
Due: prettier --write

feat(nvim): remove sandwich plugin
  .config/nvim/plugin/packages/sandwich.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

feat(nvim): add surround plugin
  .config/nvim/plugin/packages/surround.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

refactor(nvim): remove do_filetype_lua since it's the default now
  .config/nvim/init.lua
Due: luacheck, stylua

refactor(nvim): use new style API for material color scheme
  .config/nvim/plugin/packages/material.lua
Due: luacheck, stylua

feat(nvim): add new mappings for nvim-tree
  .config/nvim/plugin/packages/nvim_tree.lua
Due: luacheck, stylua

style(nvim): format lua files with stylua
  .config/nvim/lua/kutsan/mappings/normal/rename.lua
  .config/nvim/lua/kutsan/utils.lua
  .config/nvim/plugin/autocmds.lua
  .config/nvim/plugin/mappings/command.lua
  .config/nvim/plugin/mappings/motion.lua
  .config/nvim/plugin/mappings/normal.lua
  .config/nvim/plugin/mappings/operator.lua
  .config/nvim/plugin/packages/cmp.lua
  .config/nvim/plugin/packages/fzf_lua.lua
  .config/nvim/plugin/packages/lspconfig.lua
  .config/nvim/plugin/packages/nvim_tree.lua
  .config/nvim/plugin/packages/undotree.lua
Due: luacheck, stylua

refactor(nvim): use different key mapping for full_rename
  .config/nvim/plugin/packages/nvim_tree.lua
Due: luacheck, stylua

refactor(nvim): disable surround in insert mode
  .config/nvim/plugin/packages/surround.lua
Due: luacheck, stylua

fix(nvim): enable normal surround mapping back
  .config/nvim/plugin/packages/surround.lua
Due: luacheck, stylua

refactor(git): replace checkout alias with switch
  .config/git/aliases.gitconfig
  .config/zsh/config/aliases.zsh
Due: none

refactor(git): remove pull.rebase true
  .config/git/config
Due: none

refactor(git): disable short status by default, use it with an alias
  .config/git/aliases.gitconfig
  .config/git/config
Due: none

refactor(nvim): use diffview to view history of changes
  .config/nvim/plugin/packages/diffview.lua
  .config/nvim/plugin/packages/fzf_lua.lua
Due: luacheck, stylua

refactor(nvim): use command_resolver for null-ls config
  .config/nvim/plugin/packages/lspconfig.lua
Due: luacheck, stylua

refactor(nvim): remove fix-cursorhold plugin since it's now fixed
  .gitmodules
  README.md
Due: prettier --write

refactor(zsh): remove bitwarden functions
  .config/zsh/config/functions.zsh
Due: none

refactor(zsh): remove ledger aliases
  .config/zsh/config/aliases.zsh
  .config/zsh/config/functions.zsh
Due: none

refactor(zsh): remove unused aliases
  .config/npm/package.json
  .config/zsh/config/aliases.zsh
  .config/zsh/config/exports.zsh
Due: prettier --write

refactor(nvim): remove unused rename function
  .config/nvim/lua/kutsan/mappings/normal/rename.lua
Due: luacheck, stylua

feat(nvim): add dressing plugin
  .gitmodules
  README.md
Due: prettier --write

Path conditions:
  luacheck: any of: *.lua
  stylua: any of: *.lua
  prettier --write: any of: *.{json,md}
