Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

feat(nvim): use prettier as a fallback formatter for conform
  .config/nvim/lua/specs/conform.lua
Due: luacheck, stylua

feat(nvim): temporarily disable grapple for name formatting
  .config/nvim/lua/specs/bufferline.lua
Due: luacheck, stylua

build(nvim): update packages
  .config/nvim/lazy-lock.json
Due: prettier --write

feat(nvim): use selected treesitter parsers instead of all
  .config/nvim/lua/specs/treesitter.lua
Due: luacheck, stylua

feat(nvim): add a mapping to copy to system clipboard
  .config/nvim/plugin/keymaps/normal.lua
Due: luacheck, stylua

feat(ghostty): make copy_to_clipboard performable to support in neovim
  .config/ghostty/config
Due: none

wip
  .config/nvim/lazy-lock.json
  .config/nvim/lua/specs/bufferline.lua
  .config/nvim/lua/specs/flash.lua
  .config/nvim/lua/specs/grapple.lua
  .config/nvim/lua/specs/hardtime.lua
  .config/nvim/lua/specs/snacks.lua
Due: luacheck, stylua, prettier --write

refactor(zsh): load fzf utils only if it's installed
  .config/zsh/config/exports.zsh
  .config/zsh/config/settings.zsh
Due: none

build: upgrade package manager version
  package.json
Due: prettier --write

refactor(zsh): load homebrew shell env script before loading completion system
  .config/zsh/config/exports.zsh
  .config/zsh/config/load.zsh
Due: none

feat(git): add delta config for git
  .config/git/config
  .config/git/delta.gitconfig
Due: none

style(git): retab git config folder
  .config/git/.editorconfig
  .config/git/aliases.gitconfig
  .config/git/config
  .config/git/delta.gitconfig
  .config/git/users/kutsan.gitconfig
  .config/git/users/reyhan.gitconfig
Due: none

refactor(nvim): tweak auto cursorline autocmd
  .config/nvim/plugin/autocmds/windows.lua
Due: luacheck, stylua

feat(nvim): add disable automatic comment insertion on new lines autocmd
  .config/nvim/plugin/autocmds/windows.lua
Due: luacheck, stylua

feat(nvim): add docker and github actions lsp servers
  .config/nvim/lua/specs/mason_lspconfig.lua
Due: luacheck, stylua

feat(neovide): add icons and initial config file
  .config/neovide/config.toml
  .config/neovide/icon.icns
Due: none

feat(lazygit): add initial lazygit config
  .config/lazygit/config.yml
Due: none

style: format config files using new editorconfig settings
  .commitlintrc.json
  .config/transmission-daemon/settings.json
  .config/yazi/keymap.toml
  .config/yazi/theme.toml
  .config/zsh/.zlogin
  .config/zsh/.zshrc
  .config/zsh/config/aliases.zsh
  .config/zsh/config/exports.zsh
  .config/zsh/config/functions.zsh
  .config/zsh/config/load.zsh
  .config/zsh/config/mappings.zsh
  .config/zsh/config/plugins.zsh
  .config/zsh/config/prompt.zsh
  .config/zsh/config/settings.zsh
  .editorconfig
  .lintstagedrc.json
  .ssh/conf/hosts-common.ssh
  README.md
  prettier.config.js
Due: prettier --write

docs: use relative paths for image sources
  README.md
Due: prettier --write

feat(git): change default branch name to main
  .config/git/config
Due: none

feat(zsh): add docker CLI completions
  .config/zsh/config/load.zsh
Due: none

refactor(nvim): tweak tree-sitter text object mappings
  .config/nvim/lua/specs/treesitter.lua
Due: luacheck, stylua

refactor(nvim): change mapping of color convert
  .config/nvim/lua/specs/color_converter.lua
Due: luacheck, stylua

feat(nvim): add initial flash plugin config
  .config/nvim/lua/specs/flash.lua
Due: luacheck, stylua

feat(nvim): add initial grapple config
  .config/nvim/lua/specs/grapple.lua
Due: luacheck, stylua

feat(nvim): add mason tool installer plugin
  .config/nvim/lua/specs/mason.lua
  .config/nvim/lua/specs/mason_extra_cmds.lua
  .config/nvim/lua/specs/mason_lspconfig.lua
  .config/nvim/lua/specs/mason_tool_installer.lua
Due: luacheck, stylua

feat(nvim): add runtime files to lua_ls library
  .config/nvim/lsp/lua_ls.lua
Due: luacheck, stylua

feat(nvim): remove auto-save and add conform format on save
  .config/nvim/lua/specs/conform.lua
  .config/nvim/lua/user/buffer.lua
  .config/nvim/plugin/autocmds/buffers.lua
  .config/nvim/plugin/keymaps/normal.lua
Due: luacheck, stylua

refactor(nvim): remove flash char mode
  .config/nvim/lua/specs/flash.lua
Due: luacheck, stylua

feat(nvim): add grapple integration to bufferline
  .config/nvim/lua/specs/bufferline.lua
Due: luacheck, stylua

refactor(nvim): remove copilot plugin in favor of native LSP server
  .config/nvim/lua/specs/copilot.lua
Due: luacheck, stylua

refactor(nvim): rewrite refactor word under cursor mappings to Lua
  .config/nvim/plugin/keymaps/normal.lua
Due: luacheck, stylua

feat(nvim): add neovide keymaps and scaling functionality
  .config/nvim/plugin/gui.lua
Due: luacheck, stylua

feat(nvim): add tsgo to LSP installer and remove ts_ls
  .config/nvim/lua/specs/mason_tool_installer.lua
Due: luacheck, stylua

feat(nvim): move filetype detections to ftdetect directory
  .config/nvim/ftdetect/docker_compose.lua
  .config/nvim/ftdetect/env.lua
  .config/nvim/ftdetect/gitconfig.lua
  .config/nvim/plugin/filetype.lua
Due: luacheck, stylua

feat(zsh): use upstream pure instead of my own fork
  .gitmodules
Due: none

refactor(zsh): add OPENCODE_DISABLE_TERMINAL_TITLE export
  .config/zsh/config/exports.zsh
Due: none

feat(nvim): use explicit jump mapping for flash plugin
  .config/nvim/lua/specs/flash.lua
Due: luacheck, stylua

Path conditions:
  luacheck: any of: *.lua
  stylua: any of: *.lua
  prettier --write: any of: *.{json,md}
