Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

feat(nvim): remove auto active cursorline autocmd
  home/dot_config/exact_nvim/exact_plugin/exact_autocmds/windows.lua
Due: luacheck, stylua

feat(ghostty): set notify-on-command-finish-after duration to 10s
  home/dot_config/exact_ghostty/config
Due: none

feat(claude): add custom statusline support with ccstatusline
  home/dot_config/claude/private_settings.json
  home/dot_config/exact_ccstatusline/settings.json
Due: prettier --write

feat(yazi): add folder rules plugin for downloads folder rules
  home/dot_config/exact_yazi/exact_plugins/exact_change-ratio.yazi/main.lua
  home/dot_config/exact_yazi/exact_plugins/exact_folder-rules.yazi/main.lua
  home/dot_config/exact_yazi/init.lua
Due: luacheck, stylua

fix(lazygit): provide `branchName` parameter to `branchLogCmd`
  home/dot_config/exact_lazygit/config.yml
Due: none

feat(nvim): enable bigfile, image and add new navigation mappings for explorer
  home/dot_config/exact_nvim/exact_lua/exact_specs/snacks.lua
Due: luacheck, stylua

feat(nvim): add tinymist and markdown-oxide LSP servers
  home/dot_config/exact_nvim/exact_lua/exact_specs/mason_tool_installer.lua
Due: luacheck, stylua

feat(bat): add config with syntax themes
  home/dot_config/exact_bat/config
  home/dot_config/exact_bat/exact_themes/Catppuccin Latte.tmTheme
  home/dot_config/exact_bat/exact_themes/Catppuccin Mocha.tmTheme
Due: none

feat(delta): move delta config to its own folder
  home/dot_config/exact_delta/delta.gitconfig
  home/dot_config/exact_delta/exact_themes/catppuccin.gitconfig
  home/dot_config/exact_git/config.tmpl
  home/dot_config/exact_git/exact_directives/delta.gitconfig
Due: none

refactor(lazygit): reorganize parameter order
  home/dot_config/exact_lazygit/config.yml
Due: none

feat(homebrew): add bat package
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none

feat(lazygit): remove hunk headers
  home/dot_config/exact_delta/exact_themes/catppuccin.gitconfig
Due: none

feat(nvim): set snacks zen width and blend options
  home/dot_config/exact_nvim/exact_lua/exact_specs/snacks.lua
Due: luacheck, stylua

refactor(ghostty): remove fixed initial window sizes
  home/dot_config/exact_ghostty/config
Due: none

feat(nvim): add typstyle tool to mason
  home/dot_config/exact_nvim/exact_lua/exact_specs/mason_tool_installer.lua
Due: luacheck, stylua

feat(nvim): add typstyle to conform
  home/dot_config/exact_nvim/exact_lua/exact_specs/conform.lua
Due: luacheck, stylua

refactor(lazygit): remove `showWholeGraph` option
  home/dot_config/exact_lazygit/config.yml
Due: none

feat(lazygit): add --remotes flag to `branchLogCmd`
  home/dot_config/exact_lazygit/config.yml
Due: none

refactor(nvim): make shada utilities dependency-free
  home/dot_config/exact_nvim/exact_lua/exact_user/shada.lua
Due: luacheck, stylua

feat(nvim): clean up highlight autocmds at lsp detach
  home/dot_config/exact_nvim/exact_plugin/lsp.lua
Due: luacheck, stylua

refactor(nvim): use built-in undotree plugin
  home/dot_config/exact_nvim/exact_lua/exact_specs/snacks.lua
  home/dot_config/exact_nvim/exact_plugin/exact_keymaps/normal.lua
Due: luacheck, stylua

style(claude): reformat settings.json
  home/dot_config/claude/private_settings.json
Due: prettier --write

refactor(opencode): remove unused antigravity plugin
  home/dot_config/opencode/opencode.jsonc
Due: none

refactor(ccstatusline): use raw value instead of context bar
  home/dot_config/exact_ccstatusline/settings.json
Due: prettier --write

refactor(ghostty): improve split navigation keybindings
  home/dot_config/exact_ghostty/config
Due: none

feat(git): use new built-in neovim diffool plugin for git difftool
  home/dot_config/exact_git/exact_directives/options.gitconfig
Due: none

feat(chromium): add modern for hacker news config
  home/dot_config/exact_chromium/modern-for-hacker-news/config.json
Due: prettier --write

refactor(chezmoi): use -c flag to run neovim commands
  home/.chezmoiscripts/run_onchange_after_update-neovim-plugins.sh.tmpl
Due: none

refactor(delta): remove bold styles from catppuccin theme
  home/dot_config/exact_delta/exact_themes/catppuccin.gitconfig
Due: none

feat(ghostty): customize macos-icon
  home/dot_config/exact_ghostty/config
Due: none

refactor(ghostty): move super+d ignore before split keybindings
  home/dot_config/exact_ghostty/config
Due: none

feat(zsh): do not change pure prompt symbol for vi normal mode
  home/dot_config/exact_zsh/exact_config/plugins.zsh
Due: none

feat(nvim): override CurSearch, MsgArea and MsgSeparator highlights
  home/dot_config/exact_nvim/exact_lua/exact_specs/catppuccin.lua
Due: luacheck, stylua

refactor(nvim): don't use mspsep anymore
  home/dot_config/exact_nvim/exact_plugin/settings.lua
Due: luacheck, stylua

feat(nvim): add "add new ledger entry" snippet for ledger files
  home/dot_config/exact_nvim/exact_snippets/ledger.json
  home/dot_config/exact_nvim/exact_snippets/package.json
Due: prettier --write

style(nvim): format nvim-pack-lock.json file correctly
  home/dot_config/exact_nvim/.editorconfig
  home/dot_config/exact_nvim/nvim-pack-lock.json
Due: prettier --write

fix(nvim): use correct require for entire buffer
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_keymaps/motion.lua
Due: luacheck, stylua

refactor(nvim): remove todo comments plugin
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_plugins/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user-config/exact_plugins/todo_comments.lua
  home/dot_config/exact_nvim/nvim-pack-lock.json
Due: luacheck, stylua, prettier --write

Path conditions:
  luacheck: any of: *.lua
  stylua: any of: *.lua
  prettier --write: any of: *.{json,md}
