Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

.lintstagedrc.json:

{
  "*.lua": ["luacheck", "stylua"],
  "*.{json,md}": ["prettier --write"]
}

feat(nvim): add octo plugin
  .config/nvim/lua/specs/octo.lua
Due: luacheck, stylua

feat(nvim): add zen mode plugin
  .config/nvim/lua/specs/zen_mode.lua
Due: luacheck, stylua

feat(nvim): add render markdown plugin
  .config/nvim/lua/specs/render_markdown.lua
Due: luacheck, stylua

refactor(nvim): update nvim plugins
  .config/nvim/lazy-lock.json
Due: prettier --write

feat(nvim): enable enhanced_diff_hl for diffview
  .config/nvim/lua/specs/diffview.lua
Due: luacheck, stylua

feat(git): use diffview.nvim for git diffs
  .config/git/aliases.gitconfig
Due: none

refactor(nvim): use setup function to setup nvim-ts-autotag
  .config/nvim/lua/specs/treesitter.lua
Due: luacheck, stylua

feat(kitty): add new modified catppuccin colors
  .config/kitty/config/colors.conf
  .config/kitty/config/cursor.conf
  .config/kitty/config/mouse.conf
  .config/kitty/config/window.conf
Due: none

feat(kitty): use MonoLisa font
  .config/kitty/config/fonts.conf
Due: none

feat(nvim): add noice integration to catppuccin
  .config/nvim/lua/specs/catppuccin.lua
Due: luacheck, stylua

refactor(nvim): move nvim tree autocmd inside nvim configs
  .config/nvim/lua/specs/nvim_tree.lua
  .config/nvim/plugin/autocmds.lua
Due: luacheck, stylua

feat(zsh): make <C-l> retain initial new line of pure prompt
  .config/zsh/config/prompt.zsh
Due: none

refactor(zsh): remove volta
  .config/zsh/config/exports.zsh
Due: none

feat: update npm packages
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .prettierrc.json
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: prettier --write

feat(kitty): change active_border_color
  .config/kitty/config/colors.conf
Due: none

feat(kitty): add MonoLisa font features
  .config/kitty/config/fonts.conf
Due: none

refactor(kitty): change kitty_mod+w to close_window
  .config/kitty/config/mappings.conf
Due: none

feat(nvim): add eyeliner plugin
  .config/nvim/lua/specs/eyeliner.lua
Due: luacheck, stylua

feat(zsh): change pnpm alias
  .config/zsh/config/aliases.zsh
Due: none

refactor(nvim): remove render_markdown plugin
  .config/nvim/lua/specs/render_markdown.lua
Due: luacheck, stylua

refactor(zsh): remove conflicting git completions
  .config/zsh/config/aliases.zsh
Due: none

refactor(nvim): change max nvim tree window width
  .config/nvim/lua/specs/nvim_tree.lua
Due: luacheck, stylua

feat(nvim): resize telescope window in sync with terminal columns
  .config/nvim/lua/specs/telescope.lua
Due: luacheck, stylua

refactor(kitty): use default text_composition_strategy
  .config/kitty/config/tweaks.conf
Due: none

refactor(nvim): remove unused variables in telescope.lua file
  .config/nvim/lua/specs/telescope.lua
Due: luacheck, stylua

refactor(nvim): use highlight-colors instead of colorizer
  .config/nvim/lua/specs/colorizer.lua
  .config/nvim/lua/specs/highlight-colors.lua
Due: luacheck, stylua

refactor(ssh): restructure ssh conf folder
  .ssh/conf/hosts-common.ssh
  .ssh/config
Due: none

refactor(ssh): add comments to ssh config file
  .ssh/config
Due: none

feat(nvim): add MasonUpdateAll command
  .config/nvim/lua/specs/lsp.lua
Due: luacheck, stylua

refactor(nvim): remove git worktree plugin
  .config/nvim/lua/specs/telescope.lua
Due: luacheck, stylua

refactor(nvim): set indent_width to 1
  .config/nvim/lua/specs/nvim_tree.lua
Due: luacheck, stylua

refactor(nvim): set noice popupmenu options
  .config/nvim/lua/specs/noice.lua
Due: luacheck, stylua

refactor(nvim): set ensure_installed to all for treesitter
  .config/nvim/lua/specs/treesitter.lua
Due: luacheck, stylua

feat(nvim): use custom foldtext expression
  .config/nvim/lua/specs/catppuccin.lua
  .config/nvim/lua/user/foldtext.lua
  .config/nvim/plugin/settings.lua
Due: luacheck, stylua

feat(nvim): add 'foldnestmax' option
  .config/nvim/plugin/settings.lua
Due: luacheck, stylua

feat(kitty): add ss08 font feature for MonoLisa
  .config/kitty/config/fonts.conf
Due: none

feat(nvim): add <Tab> to toggle folds
  .config/nvim/plugin/mappings/normal.lua
Due: luacheck, stylua

feat: add .gitattributes file
  .gitattributes
Due: none

refactor(nvim): improve autocmds
  .config/nvim/lua/user/buffer.lua
  .config/nvim/lua/user/jump.lua
  .config/nvim/plugin/autocmds.lua
Due: luacheck, stylua

feat(ghostty): add initial ghostty config
  .config/ghostty/config
  .config/ghostty/themes/catppuccin
Due: none
