Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

.lintstagedrc.json:

{
  "*.lua": ["luacheck", "stylua"],
  "*.{json,md}": ["prettier --write"]
}

feat(nvim): add ruff format to python tools
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/conform.lua
Due: luacheck, stylua

refactor(sbx): move sbx kit files inside .config/sbx
  home/.chezmoiscripts/run_onchange_after_sync-sbx-kit-files.sh.tmpl
  home/dot_config/sbx/exact_kits/exact_claude/exact_files/exact_home/exact_dot_claude/.symlink_skills.tmpl
  home/dot_config/sbx/exact_kits/exact_claude/exact_files/exact_home/exact_dot_claude/skills/.gitkeep
  home/dot_config/sbx/exact_kits/exact_claude/exact_files/exact_home/exact_dot_config/.symlink_ccstatusline.tmpl
  home/dot_config/sbx/exact_kits/exact_claude/exact_files/exact_home/exact_dot_config/ccstatusline/.gitkeep
  home/dot_config/sbx/exact_kits/exact_claude/spec.yaml.tmpl
Due: none

refactor(claude): set default mode as manual
  home/dot_config/claude/private_settings.json
Due: prettier --write

refactor(homebrew): remove pure paste from brewfile
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none

feat(homebrew): trust docker and sbx
  home/dot_config/exact_homebrew/private_trust.json
Due: prettier --write

feat(zsh): add clean clipboard utility alias
  home/dot_config/exact_zsh/exact_config/aliases.zsh
Due: none

feat(zsh): add claude alias for sbx sandbox
  home/dot_config/exact_zsh/exact_config/aliases.zsh
Due: none

refactor(sbx): use exact folder for sbx
  home/dot_config/exact_sbx/exact_kits/exact_claude/exact_files/exact_home/exact_dot_claude/.symlink_skills.tmpl
  home/dot_config/exact_sbx/exact_kits/exact_claude/exact_files/exact_home/exact_dot_claude/skills/.gitkeep
  home/dot_config/exact_sbx/exact_kits/exact_claude/exact_files/exact_home/exact_dot_config/.symlink_ccstatusline.tmpl
  home/dot_config/exact_sbx/exact_kits/exact_claude/exact_files/exact_home/exact_dot_config/ccstatusline/.gitkeep
  home/dot_config/exact_sbx/exact_kits/exact_claude/spec.yaml.tmpl
Due: none

refactor(zsh): remove claude alias in favor of sbx
  home/dot_config/exact_zsh/exact_config/aliases.zsh
Due: none

refactor(zsh): move sbx environment to its own section
  home/dot_zshenv.tmpl
Due: none

fix(chezmoi): do not run asimov script outside of macos
  home/.chezmoiignore
  home/.chezmoiscripts/run_onchange_after_reload-asimov.sh.tmpl
Due: none

feat(skhd): use custom shell for scripts
  home/dot_config/exact_skhd/skhdrc
Due: none

refactor(ccstatusline): remove ccstatusline altogether
  home/dot_config/claude/private_settings.json
  home/dot_config/exact_ccstatusline/settings.json
  home/dot_config/exact_sbx/exact_kits/exact_claude/exact_files/exact_home/exact_dot_config/.symlink_ccstatusline.tmpl
  home/dot_config/exact_sbx/exact_kits/exact_claude/exact_files/exact_home/exact_dot_config/ccstatusline/.gitkeep
Due: prettier --write

fix(mise): use --fail and --show-error for fetch release revision
  tasks/update/zsh-plugins.sh
Due: none

refactor(chezmoi): remove ccstatusline from sbx kit sync script
  home/.chezmoiscripts/run_onchange_after_sync-sbx-kit-files.sh.tmpl
Due: none

refactor(chezmoi): improve structure of install script
  install.sh
Due: none

fix(chezmoi): make sync-sbx-kit-files.sh to use sorted hash of files
  home/.chezmoiscripts/run_onchange_after_sync-sbx-kit-files.sh.tmpl
  home/.chezmoitemplates/logger.sh
Due: none

style(agents): reformat skill files
  home/exact_dot_agents/exact_skills/exact_code-review/SKILL.md
  home/exact_dot_agents/exact_skills/exact_codebase-design/DEEPENING.md
  home/exact_dot_agents/exact_skills/exact_codebase-design/SKILL.md
  home/exact_dot_agents/exact_skills/exact_diagnosing-bugs/exact_scripts/hitl-loop.template.sh
  home/exact_dot_agents/exact_skills/exact_domain-modeling/ADR-FORMAT.md
  home/exact_dot_agents/exact_skills/exact_domain-modeling/SKILL.md
  home/exact_dot_agents/exact_skills/exact_grilling/SKILL.md
  home/exact_dot_agents/exact_skills/exact_handoff/SKILL.md
  home/exact_dot_agents/exact_skills/exact_implement/SKILL.md
  home/exact_dot_agents/exact_skills/exact_improve-codebase-architecture/HTML-REPORT.md
  home/exact_dot_agents/exact_skills/exact_prototype/LOGIC.md
  home/exact_dot_agents/exact_skills/exact_prototype/UI.md
  home/exact_dot_agents/exact_skills/exact_setup-skills/SKILL.md
  home/exact_dot_agents/exact_skills/exact_tdd/mocking.md
  home/exact_dot_agents/exact_skills/exact_tdd/tests.md
  home/exact_dot_agents/exact_skills/exact_teach/MISSION-FORMAT.md
  home/exact_dot_agents/exact_skills/exact_teach/SKILL.md
  home/exact_dot_agents/exact_skills/exact_triage/AGENT-BRIEF.md
  home/exact_dot_agents/exact_skills/exact_triage/OUT-OF-SCOPE.md
  home/exact_dot_agents/exact_skills/exact_triage/SKILL.md
  home/exact_dot_agents/exact_skills/exact_wayfinder/SKILL.md
Due: prettier --write

feat(nvim): add oxlint and oxfmt to mason tools
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/servers.lua
Due: luacheck, stylua

feat(keyboard-layouts): add initial custom layout
  home/Library/exact_Keyboard Layouts/ABC User.keylayout
Due: none

feat(keyboard-layouts): add diacritic support to user layout
  home/Library/exact_Keyboard Layouts/ABC User.keylayout
Due: none

build(keyboard-layouts): add .editorconfig for keyboard layouts
  home/Library/exact_Keyboard Layouts/.editorconfig
Due: none

build: remove empty_dot_gitkeep
  home/dot_config/empty_dot_gitkeep
Due: none

refactor: improve overall code quality and maintainability
  .github/workflows/ci.yaml
  home/.chezmoiignore
  home/.chezmoiscripts/run_onchange_after_setup-macos-defaults.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_sync-sbx-kit-files.sh.tmpl
  home/dot_config/exact_git/exact_directives/aliases.gitconfig
  home/dot_config/exact_git/exact_users/.chezmoiignore
  home/dot_config/exact_git/ignore
  home/dot_config/exact_homebrew/Brewfile.tmpl
  home/dot_config/exact_homebrew/private_trust.json
  home/dot_config/exact_nvim/exact_after/exact_ftplugin/ledger.lua
  home/dot_config/exact_nvim/exact_ftplugin/ledger.lua
  home/dot_config/exact_nvim/exact_ftplugin/markdown.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_autocmds/listchars.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_keymaps/normal.lua
  home/dot_config/exact_zsh/dot_zprofile
  home/dot_config/exact_zsh/exact_config/aliases.zsh
  home/dot_config/exact_zsh/exact_config/options.zsh
  home/dot_config/private_gnupg/gpg-agent.conf
  home/dot_config/zed/private_settings.json
  home/dot_local/libexec/executable_asimov
  home/dot_zshenv.tmpl
  home/private_dot_ssh/private_conf/private_settings.ssh
Due: luacheck, stylua, prettier --write

refactor(homebrew): remove opencode and claude casks from Brewfile
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none

feat(zsh): make macOS uuidgen behave like linux uuidgen
  home/dot_config/exact_zsh/exact_config/aliases.zsh
Due: none

feat(nvim): add skhd file extension support
  home/dot_config/exact_nvim/exact_ftdetect/gitconfig.lua
  home/dot_config/exact_nvim/exact_ftdetect/skhd.lua
Due: luacheck, stylua

feat(skhd): improve all skhd mappings
  home/dot_config/exact_skhd/exact_config/apps.skhd
  home/dot_config/exact_skhd/exact_config/remappings.skhd
  home/dot_config/exact_skhd/exact_config/window-manager.skhd
  home/dot_config/exact_skhd/skhdrc
Due: none

feat(nvim): add restart yabai and skhd scripts
  home/.chezmoiscripts/run_onchange_after_reload-asimov.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_restart-skhd.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_restart-yabai.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_sync-sbx-kit-files.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_update-neovim-plugins.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_update-yazi-plugins.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_update-zsh-plugins.sh.tmpl
Due: none

feat(chezmoi): add more macos defaults
  home/.chezmoiscripts/run_onchange_after_setup-macos-defaults.sh.tmpl
Due: none

refactor(homebrew): remove sketchybar from trust file
  home/dot_config/exact_homebrew/private_trust.json
Due: prettier --write

feat(skhd): add mouse navigation support
  home/dot_config/exact_skhd/exact_config/mouse.skhd
  home/dot_config/exact_skhd/exact_config/window-manager.skhd
  home/dot_config/exact_skhd/skhdrc
Due: none

refactor(yabai): improve structure of yabai config
  home/dot_config/exact_yabai/config.sh
  home/dot_config/exact_yabai/executable_yabairc
  home/dot_config/exact_yabai/signals.sh
Due: none

refactor(yabai): improve rule management
  home/dot_config/exact_yabai/rules.sh
Due: none

refactor(skhd): use descriptive name for bracket aliases
  home/dot_config/exact_skhd/exact_config/mouse.skhd
Due: none

feat(yabai): add rules for additional apps and adjust window positions
  home/dot_config/exact_yabai/rules.sh
Due: none

docs: add keyboard documentation generation support to mise tasks
  .github/assets/keyboard-keychron-v4-ansi-main.svg
  README.md
  home/dot_config/exact_qmk-userspace/.chezmoiignore
  home/dot_config/exact_qmk-userspace/README.md
  mise.lock
  mise.toml
  tasks/docs/generate-keyboard-docs/keymap-config.yaml
  tasks/docs/generate-keyboard-docs/main.ts
Due: prettier --write

build: add taplo to format toml files
  .github/workflows/ci.yaml
  home/.chezmoiexternals/zinit.toml
  home/dot_config/exact_yazi/keymap.toml
  mise.toml
Due: none

refactor(nvim): rename selene and luarc config files
  home/dot_config/exact_nvim/.luarc.jsonc
  home/dot_config/exact_nvim/selene.neovim.yaml
  home/dot_config/exact_nvim/selene.toml
Due: none
