Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

build: add pinact, zizmor and shfmt to mise checks
  mise.lock
  mise.toml
Due: none

refactor: make shell files more strict
  install.sh
  tasks/check/selene.sh
  tasks/check/shellcheck.sh
  tasks/update/zsh-plugins.sh
Due: none

style: format files using prettier
  home/dot_config/exact_lazydocker/config.yml
  home/dot_config/exact_qmk-userspace/README.md
  home/dot_config/opencode/opencode.jsonc
  home/dot_config/zed/private_settings.json
Due: prettier --write

refactor(chezmoi): make chezmoi scripts more strict
  home/.chezmoiscripts/run_once_after_setup-macos-defaults.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_update-neovim-plugins.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_update-yazi-plugins.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_update-zsh-plugins.sh.tmpl
  home/.chezmoitemplates/logger.sh
Due: none

style(nvim): format luarc.jsonc file
  home/dot_config/exact_nvim/dot_luarc.jsonc
Due: none

ci: add actionlint for github workflow files
  .github/workflows/ci.yaml
  mise.lock
  mise.toml
Due: none

refactor(nvim): update neovim plugins
  home/dot_config/exact_nvim/nvim-pack-lock.json
Due: prettier --write

feat(aerospace): add initial aerospace config
  home/dot_config/exact_aerospace/aerospace.toml
Due: none

feat(homebrew): update trust file
  home/dot_config/exact_homebrew/private_trust.json
Due: prettier --write

feat(aerospace): enable start at login
  home/dot_config/exact_aerospace/aerospace.toml
Due: none

feat(borders): add initial borders config
  home/dot_config/exact_aerospace/aerospace.toml
  home/dot_config/exact_borders/executable_bordersrc.tmpl
Due: none

feat(aerospace): use alt-shift modifier for focus keys
  home/dot_config/exact_aerospace/aerospace.toml
Due: none

feat(ghostty): use hidden titlebar
  home/dot_config/exact_ghostty/config
Due: none

fix(aerospace): use correct app id for mail app
  home/dot_config/exact_aerospace/aerospace.toml
Due: none

refactor(aerospace): remove borders app
  home/dot_config/exact_aerospace/aerospace.toml
  home/dot_config/exact_borders/executable_bordersrc.tmpl
Due: none

feat(aerospace): use alt-shift modifier for workspaces
  home/dot_config/exact_aerospace/aerospace.toml
Due: none

feat(yabai): add initial yabai config
  home/dot_config/exact_yabai/config.sh
  home/dot_config/exact_yabai/executable_yabairc
  home/dot_config/exact_yabai/rules.sh
  home/dot_config/exact_yabai/signals.sh
Due: none

feat(skhd): add initial skhd config
  home/dot_config/exact_skhd/exact_scripts/executable_airdrop-url.swift
  home/dot_config/exact_skhd/exact_scripts/executable_save-to-goodlinks.sh
  home/dot_config/exact_skhd/exact_scripts/executable_share-to-airdrop.sh
  home/dot_config/exact_skhd/skhdrc
Due: none

refactor(aerospace): remove aerospace config
  home/dot_config/exact_aerospace/aerospace.toml
Due: none

feat(dotfiles): add swift styles
  .editorconfig
  home/dot_editorconfig
Due: none

feat(homebrew): update brewfile and trust file
  home/dot_config/exact_homebrew/Brewfile.tmpl
  home/dot_config/exact_homebrew/private_empty_trust.json.lock
  home/dot_config/exact_homebrew/private_trust.json
Due: prettier --write

feat(nvim): use <C-l> and <C-j> for inline completion
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/inline_completion.lua
Due: luacheck, stylua

feat(nvim): replace <C-f> and <C-b> to <C-d> and <C-u> for blink
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/blink_cmp.lua
Due: luacheck, stylua

feat(claude): add model selection
  home/dot_config/claude/private_settings.json
Due: prettier --write

fix(yabai): use correct app name of iD Mixer
  home/dot_config/exact_yabai/rules.sh
Due: none

refactor(zed): migrate settings
  home/dot_config/zed/private_settings.json
Due: prettier --write

feat(zed): change inline completion mapping to ctrl-l
  home/dot_config/zed/keymap.json
Due: prettier --write

refactor(zed): unbind default mappings for inline completion
  home/dot_config/zed/keymap.json
Due: prettier --write

feat(nvim): improve file navigation mappings
  home/dot_config/exact_ghostty/config
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/blink_cmp.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/snacks.lua
Due: luacheck, stylua

feat(nvim): add word completion support to inline completions
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/inline_completion.lua
Due: luacheck, stylua

feat(zed): add accept next word prediction mapping
  home/dot_config/zed/keymap.json
Due: prettier --write

feat(launchd): add asimov script to run every 3 days
  home/.chezmoiscripts/run_onchange_after_reload-asimov.sh.tmpl
  home/Library/LaunchAgents/local.asimov.plist.tmpl
  home/dot_local/libexec/executable_asimov
Due: none

feat(sbx): add initial sbx kit support with agent skills
  home/.chezmoiscripts/run_onchange_after_sync-sbx-kit-skills.sh.tmpl
  home/dot_zshenv.tmpl
  home/exact_dot_agents/exact_kits/exact_claude/exact_files/exact_home/exact_dot_claude/.symlink_skills.tmpl
  home/exact_dot_agents/exact_kits/exact_claude/exact_files/exact_home/exact_dot_claude/skills/.gitkeep
  home/exact_dot_agents/exact_kits/exact_claude/spec.yaml.tmpl
Due: none

refactor(asimov): run asimov daily instead
  home/Library/LaunchAgents/local.asimov.plist.tmpl
Due: none

refactor(sbx): merge local and built-in settings.json file
  home/exact_dot_agents/exact_kits/exact_claude/spec.yaml.tmpl
Due: none

feat(sbx): add ccstatusline config to sbx kit
  home/.chezmoiscripts/run_onchange_after_sync-sbx-kit-files.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_sync-sbx-kit-skills.sh.tmpl
  home/exact_dot_agents/exact_kits/exact_claude/exact_files/exact_home/exact_dot_config/.symlink_ccstatusline.tmpl
  home/exact_dot_agents/exact_kits/exact_claude/exact_files/exact_home/exact_dot_config/ccstatusline/.gitkeep
Due: none

refactor(claude): update settings.json for sbx usage
  home/dot_config/claude/private_settings.json
Due: prettier --write

refactor(sbx): remove sandbox options from settings.json for claude kit
  home/exact_dot_agents/exact_kits/exact_claude/spec.yaml.tmpl
Due: none

build: add .yaml.tmpl files to editorconfig
  .editorconfig
Due: none

feat(nvim): add ty and ruff to mason tools
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/servers.lua
Due: luacheck, stylua

Path conditions:
  luacheck: any of: *.lua
  stylua: any of: *.lua
  prettier --write: any of: *.{json,md}
