Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

.lintstagedrc.json:

{
  "*.lua": ["luacheck", "stylua"],
  "*.{json,md}": ["prettier --write"]
}

refactor(skhd): disable skhd space switching keybindings for now
  home/dot_config/exact_skhd/exact_config/window-manager.skhd
Due: none

refactor(homebrew): add macOS-only config folders to .chezmoiignore
  home/.chezmoiignore
  home/.chezmoiscripts/run_onchange_after_restart-asimov.sh.tmpl
Due: none

feat(homebrew): remove unused packages from brewfile
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none

feat: automate various tasks in the dotfiles setup process
  home/.chezmoi.key.txt.age
  home/.chezmoi.toml.tmpl
  home/.chezmoiscripts/run_once_after_20-login-atuin.sh.tmpl
  home/.chezmoiscripts/run_once_after_20-setup-github-ssh.sh.tmpl
  home/.chezmoiscripts/run_once_before_00-darwin-install-homebrew.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_10-update-zsh-plugins.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_30-darwin-install-brew-bundle.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_40-darwin-restart-asimov.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_40-darwin-restart-sketchybar.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_40-darwin-restart-skhd.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_40-darwin-restart-yabai.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_40-darwin-setup-macos-defaults.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_40-rebuild-bat-cache.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_40-update-neovim-plugins.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_40-update-yazi-plugins.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_setup-macos-defaults.sh.tmpl
  home/.chezmoiscripts/run_onchange_before_00-decrypt-identity.sh.tmpl
  home/.chezmoitemplates/script-environment.sh
  home/Documents/Projects/.gitkeep
  home/Library/exact_Fonts/.chezmoiignore
  home/Library/exact_Fonts/encrypted_MonoLisaVariableItalic.ttf.age
  home/Library/exact_Fonts/encrypted_MonoLisaVariableNormal.ttf.age
  home/dot_config/exact_homebrew/Brewfile.tmpl
  home/dot_local/share/atuin/.chezmoiignore
  home/dot_local/share/atuin/key-kutsan.age
  home/dot_local/share/atuin/key-reyhan.age
  home/dot_local/share/atuin/private_key.tmpl
  home/private_dot_ssh/private_conf/private_settings.ssh
  home/private_dot_ssh/private_keys/.gitkeep
  home/private_dot_ssh/private_known_hosts-common
  install.sh
  tasks/check/shellcheck.sh
Due: none

fix: use direct atuin path for chezmoi scripts
  home/.chezmoiscripts/run_once_after_20-login-atuin.sh.tmpl
Due: none

refactor: add more logs to chezmoi scripts
  home/.chezmoiscripts/run_once_after_20-setup-github-ssh.sh.tmpl
  home/.chezmoiscripts/run_onchange_before_00-decrypt-identity.sh.tmpl
Due: none

feat(docs): add installation section to README.md
  README.md
Due: prettier --write

docs: adjust code styling for installation section
  README.md
Due: prettier --write

feat(yazi): add package flavor deps as empty array
  home/dot_config/exact_yazi/package.toml
Due: none

feat(chezmoi): add wallpapers as chezmoi external archive
  home/.chezmoiexternals/wallpapers.toml
Due: none

feat(claude): set theme to auto
  home/dot_config/claude/private_settings.json
Due: prettier --write

feat(chezmoi): start sketchybar service automatically
  home/.chezmoiscripts/run_onchange_after_40-darwin-start-sketchybar.sh.tmpl
Due: none

fix(chezmoi): use $CHEZMOI_EXECUTABLE instead of `.chezmoi.executable`
  home/.chezmoiscripts/run_onchange_before_00-decrypt-identity.sh.tmpl
Due: none

refactor(skhd): re-enable yabai space switching
  home/dot_config/exact_skhd/exact_config/window-manager.skhd
Due: none

feat(nvim): replace nvim-surround with mini-surround and remove eyeliner plugin
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/eyeliner.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/flash.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/mini_surround.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/surround.lua
  home/dot_config/exact_nvim/nvim-pack-lock.json
Due: luacheck, stylua, prettier --write
