Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

.lintstagedrc.json:

{
  "*.lua": ["luacheck", "stylua"],
  "*.{json,md}": ["prettier --write"]
}

build: update npm packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add toml prettier plugin
  prettier.config.js
Due: none

build: remove prettier toml plugin
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: prettier --write

feat(yazi): enable session plugin
  .config/yazi/init.lua
Due: luacheck, stylua

feat(yazi): add more keymaps
  .config/yazi/keymap.toml
Due: none

refactor(nvim): rename plugin files to snake case
  .config/nvim/lua/specs/grug_far.lua
  .config/nvim/lua/specs/highlight_colors.lua
  .config/nvim/lua/specs/ts_error_translator.lua
Due: luacheck, stylua

refactor(nvim): rename mappings folder to keymaps
  .config/nvim/plugin/keymaps/command.lua
  .config/nvim/plugin/keymaps/motion.lua
  .config/nvim/plugin/keymaps/normal.lua
  .config/nvim/plugin/keymaps/visual.lua
Due: luacheck, stylua

feat(lazydocker): add initial lazydocker config
  .config/lazydocker/config.yml
Due: none

refactor(yazi): change manager to mgr
  .config/yazi/keymap.toml
  .config/yazi/theme.toml
  .config/yazi/yazi.toml
Due: none

feat(ghostty): improve ghostty config
  .config/ghostty/config
  .config/ghostty/themes/catppuccin
Due: none

docs: update project screenshots and software list
  .github/assets/logo.png
  README.md
Due: prettier --write

docs: use images from .github/assets folder
  .github/assets/.DS_Store
  .github/assets/lazydocker-screenshot.png
  .github/assets/logo.png
  .github/assets/neovim-screenshot.png
  .github/assets/neovim-search-screenshot.png
  .github/assets/shell-screenshot.png
  .github/assets/yazi-screenshot.png
  README.md
Due: prettier --write

feat(git): improve git log alias to accept branches and flags
  .config/git/aliases.gitconfig
Due: none

refactor(nvim): use two dashes for comments
  .config/nvim/lua/specs/arbor.lua
Due: luacheck, stylua

build: update package manager version
  package.json
Due: prettier --write

feat(nvim): add new color overrides
  .config/nvim/lua/specs/catppuccin.lua
Due: luacheck, stylua

feat(nvim): use correct file type for docker compose files
  .config/nvim/plugin/filetype.lua
Due: luacheck, stylua

refactor(nvim): reorganize autocmds
  .config/nvim/plugin/autocmds.lua
  .config/nvim/plugin/autocmds/buffers.lua
  .config/nvim/plugin/autocmds/terminal.lua
  .config/nvim/plugin/autocmds/windows.lua
Due: luacheck, stylua

refactor(nvim): remove nvim_tree plugin
  .config/nvim/lua/specs/nvim_tree.lua
Due: luacheck, stylua

feat(nvim): add initial snacks config
  .config/nvim/lua/specs/snacks.lua
Due: luacheck, stylua

refactor(nvim): remove cokeline plugin
  .config/nvim/lua/specs/cokeline.lua
Due: luacheck, stylua

feat(nvim): add bufferline plugin
  .config/nvim/lua/specs/bufferline.lua
Due: luacheck, stylua

refactor(nvim): remove cmp integration for copilot chat
  .config/nvim/lua/specs/cmp.lua
Due: luacheck, stylua

refactor(nvim): use hooks for disabling the cursorline
  .config/nvim/lua/specs/diffview.lua
  .config/nvim/plugin/autocmds/buffers.lua
Due: luacheck, stylua

refactor(nvim): remove octo plugin
  .config/nvim/lua/specs/octo.lua
Due: luacheck, stylua

refactor(nvim): use imported snacks module
  .config/nvim/lua/specs/snacks.lua
Due: luacheck, stylua

feat(nvim): disable remote plugins
  .config/nvim/init.lua
Due: luacheck, stylua

feat(nvim): add new settings
  .config/nvim/plugin/settings.lua
Due: luacheck, stylua

feat(nvim): add shada utility file
  .config/nvim/lua/user/shada.lua
Due: luacheck, stylua

feat: add git config file types
  .config/nvim/plugin/filetype.lua
Due: luacheck, stylua

feat(git): add support for modular git config
  .config/git/config
  .config/git/users/kutsan.gitconfig
  .config/git/users/reyhan.gitconfig
  .config/git/wavera.gitconfig
Due: none

feat(git): add git log all and detailed all aliases
  .config/git/aliases.gitconfig
  .config/zsh/config/aliases.zsh
Due: none

feat(nvim): add lsp overrides from lspconfig
  .config/nvim/lsp/lua_ls.lua
  .config/nvim/lsp/stylelint_lsp.lua
  .config/nvim/lsp/ts_ls.lua
  .config/nvim/lsp/typos_lsp.lua
Due: luacheck, stylua

feat(nvim): use new LSP config structure with mason v2
  .config/nvim/lua/specs/lsp.lua
  .config/nvim/lua/specs/lspconfig.lua
  .config/nvim/lua/specs/mason.lua
  .config/nvim/lua/specs/mason_extra_cmds.lua
  .config/nvim/lua/specs/mason_lspconfig.lua
  .config/nvim/plugin/lsp.lua
Due: luacheck, stylua

feat(nvim): add diagnostic config
  .config/nvim/plugin/diagnostic.lua
Due: luacheck, stylua

feat(nvim): add gui config
  .config/nvim/plugin/gui.lua
Due: luacheck, stylua

feat(nvim): add schema_store plugin as a standalone plugin
  .config/nvim/lua/specs/schema_store.lua
Due: luacheck, stylua

feat(nvim): add nui as an optional dependency
  .config/nvim/lua/specs/noice.lua
  .config/nvim/lua/specs/nui.lua
Due: luacheck, stylua

refactor(nvim): use spec field for spec imports
  .config/nvim/init.lua
Due: luacheck, stylua

feat(nvim): improve cmp config with new vim.lsp.config
  .config/nvim/lua/specs/cmp.lua
Due: luacheck, stylua
