Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

.lintstagedrc.json:

{
  "*.lua": ["luacheck", "stylua"],
  "*.{json,md}": ["prettier --write"]
}

feat(chezmoi): add user selection to chezmoi config
  home/.chezmoi.toml.tmpl
Due: none

refactor(qmk): restrict symlink to macOS in personal profile
  home/Library/Application Support/symlink_qmk.tmpl
Due: none

feat(git): restructure git config with exact_git
  home/dot_config/exact_git/.chezmoiignore
  home/dot_config/exact_git/config.tmpl
  home/dot_config/exact_git/exact_directives/aliases.gitconfig
  home/dot_config/exact_git/exact_directives/delta.gitconfig
  home/dot_config/exact_git/exact_directives/options.gitconfig
  home/dot_config/exact_git/users/kutsan.gitconfig
  home/dot_config/exact_git/users/reyhan.gitconfig
Due: none

refactor(zsh): add user-specific npm config to exports
  home/dot_config/exact_zsh/exact_config/exports.zsh.tmpl
Due: none

refactor(zsh): remove zinit auto-update function
  home/dot_config/exact_zsh/exact_config/plugins.zsh
Due: none

feat(zsh): migrate zinit to chezmoi external repo
  home/.chezmoiexternal.toml
  home/dot_config/exact_zsh/.chezmoiignore
  home/dot_config/exact_zsh/dot_zshrc
  home/dot_config/exact_zsh/exact_config/completion.zsh
  home/dot_config/exact_zsh/exact_config/load.zsh
  home/dot_config/exact_zsh/exact_config/plugins.zsh
  home/dot_config/exact_zsh/exact_config/prompt.zsh
  home/dot_config/exact_zsh/exact_config/settings.zsh
  home/run_after_update_zinit.sh.tmpl
Due: none

feat(nvim): add script to sync neovim plugins after update
  home/run_after_update_lazy_nvim.sh.tmpl
Due: none

refactor(mason): use sync update for mason tools
  home/dot_config/exact_nvim/exact_lua/exact_specs/mason_tool_installer.lua
Due: luacheck, stylua

feat(homebrew): reorganize Brewfile with profiles
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none

feat(zed): rename settings.json to private_settings.json and update config
  home/dot_config/zed/private_settings.json
Due: prettier --write

feat(zed): add more keymaps for navigation and actions
  home/dot_config/zed/keymap.json
Due: prettier --write

refactor(chezmoi): add additional newlines for better readability
  home/run_after_update_lazy_nvim.sh.tmpl
  home/run_after_update_zinit.sh.tmpl
Due: none

refactor(nvim): use stable neovim version, remove inline completion support for now
  home/dot_config/exact_homebrew/Brewfile.tmpl
  home/dot_config/exact_nvim/exact_lua/exact_specs/copilot.lua
  home/dot_config/exact_nvim/exact_lua/exact_specs/treesitter.lua
  home/dot_config/exact_nvim/exact_plugin/lsp.lua
  home/dot_config/exact_nvim/lazy-lock.json
Due: luacheck, stylua, prettier --write

feat(nvim): add copilot to lock file
  home/dot_config/exact_nvim/lazy-lock.json
Due: prettier --write

refactor(nvim): use master branch of treesitter
  home/dot_config/exact_nvim/exact_lua/exact_specs/treesitter.lua
  home/dot_config/exact_nvim/lazy-lock.json
Due: luacheck, stylua, prettier --write

feat(nvim): replace cmp with blink
  home/dot_config/exact_nvim/exact_lua/exact_specs/blink.lua
  home/dot_config/exact_nvim/exact_lua/exact_specs/catppuccin.lua
  home/dot_config/exact_nvim/exact_lua/exact_specs/cmp.lua
  home/dot_config/exact_nvim/exact_lua/exact_specs/snacks.lua
  home/dot_config/exact_nvim/exact_plugin/settings.lua
  home/dot_config/exact_nvim/lazy-lock.json
Due: luacheck, stylua, prettier --write

refactor(nvim): update diagnostic config
  home/dot_config/exact_nvim/exact_plugin/diagnostic.lua
Due: luacheck, stylua

refactor(nvim): remove copilot LSP in favor of copilot lua plugin
  home/dot_config/exact_nvim/exact_lua/exact_specs/mason_tool_installer.lua
Due: luacheck, stylua

feat(zsh): lock zsh plugins to their commit hashes
  home/dot_config/exact_zsh/exact_config/plugins.zsh
Due: none

feat(chezmoi): include hashes to run scripts
  home/run_onchange_after_update_lazy_nvim.sh.tmpl
  home/run_onchange_after_update_zinit.sh.tmpl
Due: none

build: upgrade development dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(chezmoi): use .chezmoiscripts folder for run scripts
  home/.chezmoiscripts/run_onchange_after_update_lazy_nvim.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_update_zinit.sh.tmpl
Due: none

refactor(nvim): upgrade neovim plugins
  home/dot_config/exact_nvim/lazy-lock.json
Due: prettier --write

refactor(zsh): use `e` alias for editor
  home/dot_config/exact_zsh/exact_config/aliases.zsh
Due: none

feat(zsh): change EDITOR and add GUI_EDITOR alias
  home/dot_config/exact_zsh/exact_config/aliases.zsh
  home/dot_config/exact_zsh/exact_config/exports.zsh.tmpl
Due: none

feat(yazi): install yazi flavors using `ya pkg`
  home/.chezmoiscripts/run_onchange_after_update_yazi-plugins.sh.tmpl
  home/dot_config/exact_yazi/.chezmoiignore
  home/dot_config/exact_yazi/init.lua
  home/dot_config/exact_yazi/package.toml
  home/dot_config/exact_yazi/theme.toml
  home/dot_config/exact_yazi/yazi.toml
Due: luacheck, stylua

refactor(chezmoi): change names of chezmoi scripts
  home/.chezmoiscripts/run_onchange_after_update-neovim-plugins.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_update-yazi-plugins.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_update-zsh-plugins.sh.tmpl
Due: none

feat(ghostty): add light theme to ghostty
  home/dot_config/exact_ghostty/config
  home/dot_config/exact_ghostty/exact_themes/catppuccin-latte.conf
  home/dot_config/exact_ghostty/exact_themes/catppuccin-mocha.conf
Due: none

feat(nvim): add latte flavour support to catppuccin theme
  home/dot_config/exact_nvim/exact_lua/exact_specs/catppuccin.lua
Due: luacheck, stylua

feat(chezmoi): update brewfile with user-specific apps
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none

feat(homebrew): update brewfile with new software
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none

feat(zsh): update environment variables
  home/dot_config/exact_zsh/exact_config/exports.zsh.tmpl
  home/dot_config/exact_zsh/exact_config/load.zsh
Due: none

feat(zsh): add telemetry and tracking environment variables
  home/dot_config/exact_zsh/exact_config/exports.zsh.tmpl
Due: none

ci: add CODEOWNERS file
  .github/CODEOWNERS
Due: none

refactor(nvim): use tab and shift-tab to navigate in snacks picker list
  home/dot_config/exact_nvim/exact_lua/exact_specs/snacks.lua
Due: luacheck, stylua

feat(chezmoi): add install script
  home/.chezmoi.toml.tmpl
  install.sh
Due: none

refactor(qmk): remove keymap comments
  home/dot_config/exact_qmk-userspace/exact_keyboards/exact_keychron/exact_v4/exact_ansi/exact_keymaps/exact_main/keymap.c
Due: none

feat(atuin): add initial atuin support
  home/dot_config/exact_atuin/config.toml
  home/dot_config/exact_zsh/exact_config/plugins.zsh
  home/dot_config/exact_zsh/exact_config/settings.zsh
Due: none

feat(zsh): update git hashes of zsh plugins
  home/dot_config/exact_zsh/exact_config/plugins.zsh
Due: none

refactor(nvim): disable generating qmk comments
  home/dot_config/exact_nvim/exact_lua/exact_specs/qmk.lua
Due: luacheck, stylua
