Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

.lintstagedrc.json:

{
  "*.lua": ["luacheck", "stylua"],
  "*.{json,md}": ["prettier --write"]
}

feat(nvim): add lua-language-server type check script for neovim types
  .github/workflows/ci.yaml
  README.md
  home/dot_config/exact_homebrew/private_trust.json
  home/dot_config/exact_nvim/exact_lsp/lua_ls.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_api/exact_keymaps/buffer.lua
  mise.lock
  mise.toml
  tasks/check/neovim-types.sh
  tasks/check/selene.sh
  tasks/check/shellcheck.sh
  tasks/docs/generate-keyboard-docs.ts
  tasks/docs/keymap-config.yaml
  tasks/update/zsh-plugins.sh
Due: luacheck, stylua, prettier --write

refactor(claude): remove unused plugins from settings.json
  home/dot_config/claude/private_settings.json
Due: prettier --write

refactor(skhd): use left alt for app bindings
  home/dot_config/exact_skhd/exact_config/apps.skhd
Due: none

refactor: use long form of bash set options
  home/.chezmoiscripts/run_onchange_after_reload-asimov.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_restart-skhd.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_restart-yabai.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_setup-macos-defaults.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_sync-sbx-kit-files.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_update-neovim-plugins.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_update-yazi-plugins.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_update-zsh-plugins.sh.tmpl
  home/dot_config/exact_skhd/exact_scripts/executable_save-to-goodlinks.sh
  home/dot_config/exact_skhd/exact_scripts/executable_share-to-airdrop.sh
  home/dot_config/exact_yabai/config.sh
  home/dot_config/exact_yabai/executable_yabairc
  home/dot_config/exact_yabai/rules.sh
  home/dot_config/exact_yabai/signals.sh
  home/dot_local/libexec/executable_asimov
  home/exact_dot_agents/exact_skills/exact_diagnosing-bugs/exact_scripts/hitl-loop.template.sh
  home/exact_dot_agents/exact_skills/exact_shell-conventions/bash.md
  tasks/check/neovim-types.sh
  tasks/check/selene.sh
  tasks/check/shellcheck.sh
  tasks/update/zsh-plugins.sh
Due: prettier --write

feat(yabai): add auto unzoom script and structure config folder
  home/dot_config/exact_yabai/exact_config/rules.sh
  home/dot_config/exact_yabai/exact_config/settings.sh
  home/dot_config/exact_yabai/exact_config/signals.sh
  home/dot_config/exact_yabai/exact_scripts/executable_auto-unzoom.sh
  home/dot_config/exact_yabai/executable_yabairc
  home/dot_config/exact_yabai/signals.sh
Due: none

refactor(ghostty): remove quick terminal keybinding
  home/dot_config/exact_ghostty/config
Due: none

feat(yabai): make auto zoom support stacked windows
  home/dot_config/exact_yabai/exact_scripts/executable_auto-unzoom.sh
Due: none

feat(skhd): add stack bindings
  home/dot_config/exact_skhd/exact_config/aliases.skhd
  home/dot_config/exact_skhd/exact_config/mouse.skhd
  home/dot_config/exact_skhd/exact_config/window-manager.skhd
  home/dot_config/exact_skhd/skhdrc
Due: none

feat(nvim): add clean option to jumpoptions
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_options/global.lua
Due: luacheck, stylua

feat(nvim): add autocmd to disable shada marks for ignored directory paths
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_autocmds/buffers.lua
Due: luacheck, stylua

feat(nvim): replace devicons plugin with mini.icons
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/devicons.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/mini_icons.lua
  home/dot_config/exact_nvim/nvim-pack-lock.json
Due: luacheck, stylua, prettier --write

refactor: use long form of set options in install.sh
  install.sh
Due: none

feat(nvim): update neovim plugins
  home/dot_config/exact_nvim/nvim-pack-lock.json
Due: prettier --write

feat(nvim): change bufferline indicator option to underline
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_colorschemes/catppuccin.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/bufferline.lua
Due: luacheck, stylua

refactor(ghostty): increase line height
  home/dot_config/exact_ghostty/config
Due: none

feat(nvim): add mini-icons overrides for file types
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/mini_icons.lua
Due: luacheck, stylua

feat(zsh): change file manager function to `r` from `y`
  home/dot_config/exact_zsh/exact_config/aliases.zsh
Due: none

feat(zsh): export file manager environment variable
  home/dot_zshenv.tmpl
Due: none

feat(zsh): add ^P and ^N for history navigation
  home/dot_config/exact_zsh/exact_config/line-editor.zsh
Due: none

refactor(yazi): update config according to the breaking changes
  home/dot_config/exact_yazi/exact_plugins/exact_folder-rules.yazi/main.lua
  home/dot_config/exact_yazi/keymap.toml
  home/dot_config/exact_yazi/theme.toml
  home/dot_config/exact_yazi/yazi.toml
Due: luacheck, stylua

feat(homebrew): use asimov from homebrew-core instead
  home/dot_config/exact_homebrew/Brewfile.tmpl
  home/dot_config/exact_homebrew/private_trust.json
Due: prettier --write

feat(editorconfig): update editorconfig file
  .editorconfig
  home/dot_editorconfig
Due: none

refactor(sbx): remove manual skill sync script in favor of new shared skills feature
  home/.chezmoiscripts/run_onchange_after_sync-sbx-kit-files.sh.tmpl
  home/dot_config/exact_sbx/exact_kits/exact_claude/exact_files/exact_home/exact_dot_claude/.symlink_skills.tmpl
  home/dot_config/exact_sbx/exact_kits/exact_claude/exact_files/exact_home/exact_dot_claude/skills/.gitkeep
Due: none

feat(nvim): add terraform to mason servers
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/servers.lua
Due: luacheck, stylua

refactor(nvim): remove duplicate entries in lock file
  home/dot_config/exact_nvim/nvim-pack-lock.json
Due: prettier --write

fix(nvim): make mason-tool-installer update hook only run on update
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugin_hooks/init.lua
Due: luacheck, stylua

feat(sbx): symlink agent skills with docker shared skills
  home/Library/Application Support/com.docker.sandboxes/sandboxes/symlink_agent-skills.tmpl
Due: none

feat(chezmoi): enable keyboard navigation for all controls for macos
  home/.chezmoiscripts/run_onchange_after_setup-macos-defaults.sh.tmpl
Due: none

feat(homebrew): add sbx to brewfile
  home/dot_config/exact_homebrew/Brewfile.tmpl
  home/dot_config/exact_homebrew/private_trust.json
Due: prettier --write

refactor(homebrew): move ukelele to personal casks
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none

refactor(homebrew): move skhd-zig to casks
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none

feat(homebrew): add sketchybar and sf-symbols to brewfile
  home/dot_config/exact_homebrew/Brewfile.tmpl
  home/dot_config/exact_homebrew/private_trust.json
Due: prettier --write

feat(yabai): improve window rules
  home/dot_config/exact_yabai/exact_config/rules.sh
Due: none

feat(yabai): add padding for external bar
  home/dot_config/exact_yabai/exact_config/settings.sh
Due: none

feat(sketchybar): add initial sketchybar config
  home/dot_config/exact_sketchybar/exact_options/bar.sh
  home/dot_config/exact_sketchybar/exact_options/defaults.sh
  home/dot_config/exact_sketchybar/exact_options/main.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_e/exact_battery/executable_update.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_e/exact_battery/item.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_e/main.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_left/exact_spaces/executable_update.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_left/exact_spaces/item.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_left/main.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_q/exact_calendar/executable_next-event.swift
  home/dot_config/exact_sketchybar/exact_sections/exact_q/exact_calendar/executable_update.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_q/exact_calendar/item.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_q/main.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_right/exact_datetime/executable_update.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_right/exact_datetime/item.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_right/main.sh
  home/dot_config/exact_sketchybar/exact_sections/main.sh
  home/dot_config/exact_sketchybar/exact_styles/exact_themes/dark.sh
  home/dot_config/exact_sketchybar/exact_styles/exact_themes/light.sh
  home/dot_config/exact_sketchybar/exact_styles/main.sh
  home/dot_config/exact_sketchybar/exact_styles/tokens.sh
  home/dot_config/exact_sketchybar/executable_sketchybarrc
  home/dot_config/exact_yabai/exact_config/settings.sh
Due: none

refactor(sketchybar): combine q and e folders into center
  home/dot_config/exact_sketchybar/exact_sections/exact_center/exact_battery/executable_update.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_center/exact_battery/item.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_center/exact_calendar/executable_next-event.swift
  home/dot_config/exact_sketchybar/exact_sections/exact_center/exact_calendar/executable_update.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_center/exact_calendar/item.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_center/main.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_e/main.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_left/main.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_q/main.sh
  home/dot_config/exact_sketchybar/exact_sections/exact_right/main.sh
  home/dot_config/exact_sketchybar/exact_sections/main.sh
Due: none

feat(nvim): use lua for undo_ftplugins
  home/dot_config/exact_nvim/exact_after/exact_ftplugin/gitcommit.lua
  home/dot_config/exact_nvim/exact_after/exact_ftplugin/ledger.lua
  home/dot_config/exact_nvim/exact_after/exact_ftplugin/markdown.lua
  home/dot_config/exact_nvim/exact_after/exact_ftplugin/qf.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_api/exact_options/set_undo_ftplugin.lua
Due: luacheck, stylua

feat(nvim): soft wrap markdown files by default
  home/dot_config/exact_nvim/exact_after/exact_ftplugin/markdown.lua
  home/dot_config/exact_nvim/exact_ftplugin/markdown.lua
Due: luacheck, stylua

feat(chezmoi): use blurred menu bar background for macos
  home/.chezmoiscripts/run_onchange_after_setup-macos-defaults.sh.tmpl
Due: none

feat(chezmoi): reload sketchybar on config change
  home/.chezmoiscripts/run_onchange_after_restart-asimov.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_restart-sketchybar.sh.tmpl
Due: none
