Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

.lintstagedrc.json:

{
  "*.lua": ["luacheck", "stylua"],
  "*.{json,md}": ["prettier --write"]
}

refactor(nvim): add luadoc annotations to nvim files
  home/dot_config/exact_nvim/exact_ftplugin/qf.lua
  home/dot_config/exact_nvim/exact_lsp/lua_ls.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/buffer.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/foldtext.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/shada.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/utils.lua
  home/dot_config/exact_nvim/exact_plugin/exact_autocmds/buffers.lua
  home/dot_config/exact_nvim/exact_plugin/exact_autocmds/macro.lua
  home/dot_config/exact_nvim/exact_plugin/lsp.lua
Due: luacheck, stylua

refactor(prettier): use typescript config file for prettier
  prettier.config.ts
Due: none

revert: "refactor(nvim): remove copilot plugin in favor of minuet"
  home/dot_config/exact_nvim/exact_lua/exact_specs/copilot.lua
Due: luacheck, stylua

revert: "feat(nvim): add minuet plugin with mercury-edit model"
  home/dot_config/exact_nvim/exact_lua/exact_specs/minuet.lua
  home/dot_config/exact_nvim/exact_lua/exact_specs/plenary.lua
Due: luacheck, stylua

refactor(nvim): update neovim plugins
  home/dot_config/exact_nvim/lazy-lock.json
Due: prettier --write

feat(zsh): add zoxide plugin
  home/dot_config/exact_homebrew/Brewfile.tmpl
  home/dot_config/exact_zsh/dot_zshrc
  home/dot_config/exact_zsh/exact_config/aliases.zsh
  home/dot_config/exact_zsh/exact_config/completion.zsh
  home/dot_config/exact_zsh/exact_config/exports.zsh.tmpl
  home/dot_config/exact_zsh/exact_config/line-editor.zsh
  home/dot_config/exact_zsh/exact_config/load.zsh
  home/dot_config/exact_zsh/exact_config/plugins.zsh
  home/dot_config/exact_zsh/exact_config/prompt.zsh
  home/dot_config/exact_zsh/exact_config/settings.zsh
Due: none

refactor(yazi): add yazi zoxide plugin
  home/dot_config/exact_yazi/init.lua
  home/dot_config/exact_yazi/keymap.toml
  home/dot_config/exact_yazi/package.toml
Due: luacheck, stylua

refactor(zsh): restructure Zsh config for improved modularity
  home/dot_config/exact_zsh/dot_zlogin
  home/dot_config/exact_zsh/dot_zprofile
  home/dot_config/exact_zsh/dot_zshrc
  home/dot_config/exact_zsh/exact_config/aliases.zsh
  home/dot_config/exact_zsh/exact_config/completion.zsh
  home/dot_config/exact_zsh/exact_config/environment.zsh
  home/dot_config/exact_zsh/exact_config/functions.zsh
  home/dot_config/exact_zsh/exact_config/load.zsh
  home/dot_config/exact_zsh/exact_config/modules.zsh
  home/dot_config/exact_zsh/exact_config/options.zsh
  home/dot_config/exact_zsh/exact_config/plugins.zsh
  home/dot_zshenv
  home/dot_zshenv.tmpl
Due: none

refactor(zsh): remove history options
  home/dot_config/exact_zsh/dot_zshrc
  home/dot_config/exact_zsh/exact_config/aliases.zsh
  home/dot_config/exact_zsh/exact_config/environment.zsh
  home/dot_config/exact_zsh/exact_config/functions.zsh
  home/dot_config/exact_zsh/exact_config/modules.zsh
  home/dot_config/exact_zsh/exact_config/options.zsh
Due: none

refactor(zsh): remove options with default values
  home/dot_config/exact_zsh/exact_config/options.zsh
Due: none

feat(nvim): replace indent text objects with mini-indentscope
  home/dot_config/exact_nvim/exact_autoload/exact_user/indent.vim
  home/dot_config/exact_nvim/exact_lua/exact_specs/mini_indentscope.lua
  home/dot_config/exact_nvim/exact_plugin/exact_keymaps/motion.lua
  home/dot_config/exact_nvim/lazy-lock.json
Due: luacheck, stylua, prettier --write

feat(nvim): add initial snippets folder
  home/dot_config/exact_nvim/exact_snippets/.editorconfig
  home/dot_config/exact_nvim/exact_snippets/package.json
  home/dot_config/exact_nvim/exact_snippets/typescript.json
Due: prettier --write

feat(ghostty): tweak notifications and quick terminal options
  home/dot_config/exact_ghostty/config
Due: none

refactor(zsh): use XDG paths for zsh config
  home/dot_zshenv.tmpl
Due: none

refactor(zed): update agent model and settings
  home/dot_config/zed/private_settings.json
Due: prettier --write

feat(nvim): add lazydev plugin
  home/dot_config/exact_nvim/exact_lua/exact_specs/lazydev.lua
Due: luacheck, stylua

feat(nvim): add blink lazydev integration
  home/dot_config/exact_nvim/exact_lua/exact_specs/blink.lua
Due: luacheck, stylua

feat(claude): add expo skills
  home/dot_claude/private_settings.json
Due: prettier --write

feat(ghostty): increase default window size and remove fullscreen
  home/dot_config/exact_ghostty/config
Due: none

refactor(claude): add claude-code-setup plugin to settings
  home/dot_claude/private_settings.json
Due: prettier --write

refactor(claude): add agent skills to .agents folder
  home/dot_config/claude/.editorconfig
  home/dot_config/claude/private_settings.json
  home/dot_config/claude/symlink_skills.tmpl
  home/dot_config/exact_zsh/exact_config/environment.zsh
  home/dot_zshenv.tmpl
  home/exact_dot_agents/skills/grill-me/SKILL.md
Due: prettier --write

refactor(opencode): remove simplify-code command
  home/dot_config/opencode/exact_command/simplify-code.md
Due: prettier --write

feat(yazi): add change ratio plugin
  home/dot_config/exact_yazi/.chezmoiignore
  home/dot_config/exact_yazi/exact_plugins/.chezmoiignore
  home/dot_config/exact_yazi/exact_plugins/change-ratio.yazi/main.lua
  home/dot_config/exact_yazi/keymap.toml
  home/dot_config/exact_yazi/yazi.toml
Due: luacheck, stylua

feat(yazi): add keymap for preview column
  home/dot_config/exact_yazi/keymap.toml
Due: none

refactor(nvim): remove alternate buffer mapping override
  home/dot_config/exact_nvim/exact_plugin/exact_keymaps/normal.lua
Due: luacheck, stylua

feat(lazygit): improve lazygit configs
  home/dot_config/exact_lazygit/config.yml
Due: none

feat(lazygit): change spinner frames and edit git commands
  home/dot_config/exact_lazygit/config.yml
Due: none

feat(lazygit): edit spinner frames
  home/dot_config/exact_lazygit/config.yml
Due: none

feat(zsh): convert `gs` alias to `lazygit`
  home/dot_config/exact_zsh/exact_config/aliases.zsh
Due: none

feat(git): make delta default git pager
  home/dot_config/exact_git/exact_directives/options.gitconfig
Due: none

feat(lazygit): disable bottom line and command log by default
  home/dot_config/exact_lazygit/config.yml
Due: none

feat(zsh): use lazygit as `g` alias and update comments
  home/dot_config/exact_zsh/exact_config/aliases.zsh
Due: none

feat(nvim): use slash for path separation
  home/dot_config/exact_nvim/exact_plugin/settings.lua
Due: luacheck, stylua

feat(lazygit): quit lazygit for non-git directories
  home/dot_config/exact_lazygit/config.yml
Due: none

feat(agents): add new improve-codebase-architecture skill
  home/exact_dot_agents/exact_skills/exact_grill-me/SKILL.md
  home/exact_dot_agents/exact_skills/exact_improve-codebase-architecture/REFERENCE.md
  home/exact_dot_agents/exact_skills/exact_improve-codebase-architecture/SKILL.md
Due: prettier --write

feat(agents): add LICENSE files for skills
  home/exact_dot_agents/exact_skills/exact_grill-me/LICENSE
  home/exact_dot_agents/exact_skills/exact_improve-codebase-architecture/LICENSE
Due: none

feat(zsh): disable caffeinate command for GUI utility apps
  home/dot_config/exact_zsh/exact_config/aliases.zsh
Due: none

refactor(lazygit): use default `showFileTree` option
  home/dot_config/exact_lazygit/config.yml
Due: none

feat(claude): play sound at notification and stop events
  home/dot_config/claude/private_settings.json
Due: prettier --write

feat(homebrew): update packages and casks
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none
