Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

.lintstagedrc.json:

{
  "*.lua": ["luacheck", "stylua"],
  "*.{json,md}": ["prettier --write"]
}

refactor(zsh): update zsh files to be compatible with used tooling
  .shellcheckrc
  home/dot_config/exact_zsh/dot_zlogin
  home/dot_config/exact_zsh/dot_zprofile
  home/dot_config/exact_zsh/dot_zshrc
  home/dot_config/exact_zsh/exact_config/aliases.zsh
  home/dot_config/exact_zsh/exact_config/completion.zsh
  home/dot_config/exact_zsh/exact_config/environment.zsh
  home/dot_config/exact_zsh/exact_config/init.zsh
  home/dot_config/exact_zsh/exact_config/line-editor.zsh
  home/dot_config/exact_zsh/exact_config/modules.zsh
  home/dot_config/exact_zsh/exact_config/options.zsh
  home/dot_config/exact_zsh/exact_plugins/auto-pair.zsh
  home/dot_config/exact_zsh/exact_plugins/auto-suggestions.zsh
  home/dot_config/exact_zsh/exact_plugins/fast-syntax-highlighting.zsh
  home/dot_config/exact_zsh/exact_plugins/fzf-tab.zsh
  home/dot_config/exact_zsh/exact_plugins/init.zsh
  home/dot_config/exact_zsh/exact_plugins/pure.zsh
  home/dot_config/exact_zsh/exact_plugins/system-clipboard.zsh
  home/dot_zshenv.tmpl
Due: none

feat(agents): update zsh convention skill
  home/exact_dot_agents/exact_skills/exact_zsh-conventions/SKILL.md
Due: prettier --write

feat(agents): update zsh-conventions skill
  home/exact_dot_agents/exact_skills/exact_zsh-conventions/SKILL.md
Due: prettier --write

feat(homebrew): update trust file
  home/dot_config/exact_homebrew/.editorconfig
  home/dot_config/exact_homebrew/private_trust.json
Due: prettier --write

feat(mise): add initial mise.toml file
  mise.toml
Due: none

feat(mise): add shellcheck task for mise
  tasks/check/shellcheck.sh
Due: none

refactor(chezmoi): remove /dev/null redirect from update neovim plugins script
  home/.chezmoiscripts/run_onchange_after_update-neovim-plugins.sh.tmpl
Due: none

refactor(zsh): use double quotes for key
  home/dot_config/exact_zsh/exact_plugins/fast-syntax-highlighting.zsh
Due: none

feat(mise): add mise task to update zsh plugins
  tasks/update/zsh-plugins.sh
Due: none

feat(chezmoi): add cursor column support for consistent logs
  home/.chezmoitemplates/logger.sh
Due: none

feat(mise): add selene check task
  tasks/check/selene.sh
Due: none

feat(mise): add more mise tasks
  mise.lock
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: update ci workflow
  .github/workflows/ci.yaml
  .github/workflows/ci.yml
Due: none

refactor(zsh): use explicit array syntax
  home/dot_zshenv.tmpl
Due: none

build: remove husky and lint-staged for now
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(nvim): add selene in place of luacheck
  home/dot_config/exact_nvim/dot_luacheckrc
  home/dot_config/exact_nvim/selene.toml
  home/dot_config/exact_nvim/vim.yaml
Due: none

feat(nvim): add render markdown plugin
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/render_markdown.lua
  home/dot_config/exact_nvim/nvim-pack-lock.json
Due: luacheck, stylua, prettier --write

feat(nvim): enable bashls for zsh files
  home/dot_config/exact_nvim/exact_lsp/bashls.lua
Due: luacheck, stylua

feat(nvim): add shell mason tools
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/servers.lua
Due: luacheck, stylua

feat(nvim): enable shfmt for shell files
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/conform.lua
Due: luacheck, stylua

feat(nvim): sync listchars multispace/leadmultispace with shiftwidth
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_autocmds/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_autocmds/listchars.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_options/global.lua
Due: luacheck, stylua

feat(chezmoi): separate vim.pack and mason installs with a new line
  home/.chezmoiscripts/run_onchange_after_update-neovim-plugins.sh.tmpl
Due: none

feat(mise): use MISE_PROJECT_ROOT for chezmoi
  tasks/check/shellcheck.sh
Due: none

ci: disable stdin for chezmoi
  tasks/check/shellcheck.sh
Due: none

build(mise): add chezmoi config for template files
  tasks/check/shellcheck.sh
Due: none

build(mise): strip .tmpl extension from template files for shellcheck
  tasks/check/shellcheck.sh
Due: none

build(mise): temporarily override `.chezmoi.os` to lint OS-specific templates
  tasks/check/shellcheck.sh
Due: none

fix(zsh): use array assignment for FAST_HIGHLIGHT_STYLES
  home/dot_config/exact_zsh/exact_plugins/fast-syntax-highlighting.zsh
Due: none

feat(zsh): enable mise shell integration
  home/dot_config/exact_zsh/exact_config/environment.zsh
Due: none

feat(editorconfig): use indent_size 4 for dockerfiles
  .editorconfig
  home/dot_editorconfig
Due: none

feat(atuin): enable ai integration
  home/dot_config/exact_atuin/config.toml
Due: none

feat(zsh): improve java and android sdk path handling
  home/dot_zshenv.tmpl
Due: none

refactor(homebrew): remove spaced from brewfile
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none

feat(zsh): use revision instead of version in zsh plugins init
  home/dot_config/exact_zsh/exact_plugins/init.zsh
Due: none

ci: use main branch for pushes
  .github/workflows/ci.yaml
Due: none

build: add pinact to pin github actions
  .github/workflows/ci.yaml
  mise.lock
  mise.toml
Due: none

feat(mise): update shellcheck script
  tasks/check/shellcheck.sh
Due: none

refactor(mise): rename file to plugin in update zsh plugins script
  tasks/update/zsh-plugins.sh
Due: none

refactor: remove block-dangerous-git plugin and hook
  home/dot_config/claude/exact_hooks/executable_block-dangerous-git.sh
  home/dot_config/claude/private_settings.json
  home/dot_config/opencode/exact_plugins/block-dangerous-git.ts
Due: prettier --write

ci: make github action workflow more strict
  .github/workflows/ci.yaml
Due: none
