Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

.lintstagedrc.json:

{
  "*.lua": ["luacheck", "stylua"],
  "*.{json,md}": ["prettier --write"]
}

refactor(nvim): remove auto resize splits autocmd
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_autocmds/windows.lua
Due: luacheck, stylua

fix(nvim): make sure Snacks windows are closed when quitting neovim
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_autocmds/windows.lua
Due: luacheck, stylua

fix(homebrew): move sbx to casks
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none

feat(backblaze): add custom exclusions for backblaze
  home/dot_config/exact_backblaze/bzexcluderules_editable.xml
Due: none

feat(nvim): use standardized naming for autocmd groups
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_api/exact_options/set_undo_ftplugin.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_autocmds/buffers.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_autocmds/listchars.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_autocmds/macro.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_autocmds/terminal.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_autocmds/windows.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/document_highlight.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/inlay_hints.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/inline_completion.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/keymaps.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/snacks.lua
Due: luacheck, stylua

refactor(nvim): remove <Space>q in favor of ZZ and ZQ
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_keymaps/normal.lua
Due: luacheck, stylua

refactor(nvim): organize plugin hooks folder
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugin_hooks/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugin_hooks/lsp.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugin_hooks/treesitter.lua
Due: luacheck, stylua

refactor(nvim): remove quitpre autocmd inside snacks.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_autocmds/buffers.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_autocmds/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_autocmds/windows.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/snacks.lua
Due: luacheck, stylua

refactor(nvim): use consistent file names and augroup structure
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/keymaps.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/servers.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_options/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_options/root_user.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugin_hooks/lsp.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugin_hooks/treesitter.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/snacks.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_treesitter/auto_tag.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_treesitter/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_treesitter/parsers.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_treesitter/text_objects.lua
Due: luacheck, stylua

feat(nvim): use tsc instead of deprecated tsgo
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_lsp/servers.lua
Due: luacheck, stylua

feat(nvim): add tiny-cmdline plugin
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/tiny_cmdline.lua
  home/dot_config/exact_nvim/nvim-pack-lock.json
Due: luacheck, stylua, prettier --write

feat(nvim): enable experimental ui2
  home/dot_config/exact_nvim/init.lua
Due: luacheck, stylua

feat(sbx): add initial sbx env file
  home/dot_sbxenv.yaml
Due: none

build: update mise dependencies
  mise.lock
  mise.toml
Due: none

refactor(lazygit): migrate to new diff renderers config
  home/dot_config/exact_lazygit/config.yml
Due: none

feat(yazi): use default zoxide plugin
  home/dot_config/exact_yazi/package.toml
Due: none

feat(ghostty): use poisonbloom theme
  home/dot_config/exact_ghostty/config
  home/dot_config/exact_ghostty/exact_themes/catppuccin-latte.conf
  home/dot_config/exact_ghostty/exact_themes/catppuccin-mocha.conf
  home/dot_config/exact_ghostty/exact_themes/poisonbloom-dark.conf
  home/dot_config/exact_ghostty/exact_themes/poisonbloom-light.conf
Due: none

feat(nvim): add `tabclose` and `tabonly` mappings
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_keymaps/normal.lua
Due: luacheck, stylua

feat(nvim): replace diffview plugin with codediff
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/codediff.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/diffview.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/init.lua
  home/dot_config/exact_nvim/nvim-pack-lock.json
Due: luacheck, stylua, prettier --write

fix(ghostty): use correct path for the dark theme
  home/dot_config/exact_ghostty/config
Due: none

feat(nvim): add plugin cleanup hook to remove orphaned plugins
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugin_hooks/clean.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugin_hooks/init.lua
Due: luacheck, stylua

refactor(nvim): remove unused mini-tabline from lock file
  home/dot_config/exact_nvim/nvim-pack-lock.json
Due: prettier --write

feat(nvim): extend ui2 config
  home/dot_config/exact_nvim/init.lua
Due: luacheck, stylua

refactor(nvim): use msg for emsg targets and add target msg target
  home/dot_config/exact_nvim/init.lua
Due: luacheck, stylua

feat(nvim): use poisonbloom colorscheme instead of catppuccin colors
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_colorschemes/catppuccin.lua
Due: luacheck, stylua

refactor(nvim): use poisonbloom file name for colorscheme
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_colorschemes/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_colorschemes/poisonbloom.lua
Due: luacheck, stylua

feat(nvim): enable indent feature of snacks
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/snacks.lua
Due: luacheck, stylua

feat(nvim): add autocmd to set the background of the CodeDiff explorer panel
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/codediff.lua
Due: luacheck, stylua

refactor(git): use git diff itself for the `d` alias
  home/dot_config/exact_git/exact_directives/aliases.gitconfig
Due: none

feat(homebrew): add new packages and remove unused ones
  home/dot_config/exact_homebrew/Brewfile.tmpl
Due: none

refactor(nvim): use FileType event for codediff explorer background
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_plugins/codediff.lua
Due: luacheck, stylua

feat(yabai): add rule to manage Finder windows
  home/dot_config/exact_yabai/exact_config/rules.sh
Due: none

feat: add Poisonbloom theme and update bat, delta, ghostty, nvim, yazi, zed configurations
  home/.chezmoiscripts/run_onchange_after_rebuild-bat-cache.sh.tmpl
  home/dot_config/exact_bat/config
  home/dot_config/exact_bat/exact_themes/Poisonbloom Dark.tmTheme
  home/dot_config/exact_bat/exact_themes/Poisonbloom Light.tmTheme
  home/dot_config/exact_delta/delta.gitconfig
  home/dot_config/exact_delta/exact_themes/catppuccin.gitconfig
  home/dot_config/exact_delta/exact_themes/poisonbloom.gitconfig
  home/dot_config/exact_ghostty/config
  home/dot_config/exact_ghostty/exact_themes/Poisonbloom Dark.conf
  home/dot_config/exact_ghostty/exact_themes/Poisonbloom Light.conf
  home/dot_config/exact_ghostty/exact_themes/poisonbloom-dark.conf
  home/dot_config/exact_ghostty/exact_themes/poisonbloom-light.conf
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_colorschemes/init.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_colorschemes/poisonbloom.lua
  home/dot_config/exact_nvim/exact_lua/exact_user/exact_config/exact_colorschemes/poisonbloom_palette.lua
  home/dot_config/exact_yazi/.chezmoiignore
  home/dot_config/exact_yazi/exact_flavors/exact_poisonbloom-dark.yazi/flavor.toml
  home/dot_config/exact_yazi/exact_flavors/exact_poisonbloom-dark.yazi/symlink_tmtheme.xml
  home/dot_config/exact_yazi/exact_flavors/exact_poisonbloom-light.yazi/flavor.toml
  home/dot_config/exact_yazi/exact_flavors/exact_poisonbloom-light.yazi/symlink_tmtheme.xml
  home/dot_config/exact_yazi/package.toml
  home/dot_config/exact_yazi/theme.toml
  home/dot_config/zed/exact_themes/catppuccin-blue.json
  home/dot_config/zed/exact_themes/poisonbloom.json
  home/dot_config/zed/private_settings.json
  mise.toml
  tasks/themes/generate.sh
  themes/poisonbloom/generate.sh
  themes/poisonbloom/palette.json
  themes/poisonbloom/templates/bat.tera
  themes/poisonbloom/templates/delta.tera
  themes/poisonbloom/templates/ghostty.tera
  themes/poisonbloom/templates/nvim.tera
  themes/poisonbloom/templates/yazi.tera
  themes/poisonbloom/templates/zed.tera
Due: luacheck, stylua, prettier --write

build: install keymap-drawer from pypi
  .mise/locks/pypi-keymap-drawer/0.23.0/pyproject.toml
  .mise/locks/pypi-keymap-drawer/0.23.0/uv.lock
  mise.lock
  mise.toml
Due: none

feat(zsh): use vivid generated ansi ls colors
  home/dot_config/exact_ls/colors
  home/dot_config/exact_ls/dircolors
  home/dot_config/exact_zsh/exact_config/environment.zsh
Due: none

build: update node version
  mise.lock
  mise.toml
Due: none

feat(themes): use more bright colors for the ansi palette in poisonbloom
  home/dot_config/exact_ghostty/exact_themes/Poisonbloom Dark.conf
  home/dot_config/exact_ghostty/exact_themes/Poisonbloom Light.conf
  home/dot_config/zed/exact_themes/poisonbloom.json
  themes/poisonbloom/generate.sh
  themes/poisonbloom/palette.json
  themes/poisonbloom/templates/ghostty.tera
  themes/poisonbloom/templates/zed.tera
Due: prettier --write

feat(themes): remove bold modifiers from delta theme config
  home/dot_config/exact_delta/exact_themes/poisonbloom.gitconfig
  themes/poisonbloom/templates/delta.tera
Due: none

style(sbx): format `schemaVersion` quotes
  home/dot_sbxenv.yaml
Due: none

feat(sbx): use new v2 version of the local kit
  home/dot_config/exact_sbx/exact_kits/exact_claude/spec.yaml.tmpl
Due: none
