Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

feat(zsh): add .hushlogin file to suppress login messages
  .hushlogin
Due: none

feat(git): add signingkey for work profile
  .config/git/work.gitconfig
Due: none

refactor(git): reorder git aliases alphabetically
  .config/git/aliases.gitconfig
Due: none

feat(git): set default and autoSetupRemote configs
  .config/git/config
Due: none

refactor(git): change work email and signingkey
  .config/git/work.gitconfig
Due: none

feat(git): add standup and fixup aliases
  .config/git/aliases.gitconfig
Due: none

feat(kitty): add ` next_window mapping
  .config/kitty/config/mappings.conf
Due: none

feat(zsh): add pnpm aliases
  .config/zsh/config/aliases.zsh
Due: none

refactor(zsh): remove fzf user widgets
  .config/zsh/.zshrc
  .config/zsh/config/exports.zsh
  .config/zsh/config/mappings.zsh
  .config/zsh/config/widgets.zsh
Due: none

refactor(nvim): rename tsserver to ts_ls
  .config/nvim/lua/specs/lsp.lua
Due: luacheck, stylua

feat(nvim): add simple tab ui for cokeline
  .config/nvim/lua/specs/cokeline.lua
Due: luacheck, stylua

refactor(nvim): use <C-q> to close current window
  .config/nvim/plugin/mappings/normal.lua
Due: luacheck, stylua

refactor(nvim): remove declaration mappings for treesitter
  .config/nvim/lua/specs/treesitter.lua
Due: luacheck, stylua

feat(nvim): add telescope-undo plugin
  .config/nvim/lua/specs/telescope.lua
Due: luacheck, stylua

feat(nvim): add nowait to nvim-tree mappings
  .config/nvim/lua/specs/nvim_tree.lua
Due: luacheck, stylua

feat(nvim): update has_words_before function for cmp
  .config/nvim/lua/specs/cmp.lua
Due: luacheck, stylua

feat(nvim): improve diffview mappings
  .config/nvim/lua/specs/diffview.lua
Due: luacheck, stylua

feat(nvim): add git blame mapping for git signs
  .config/nvim/lua/specs/gitsigns.lua
Due: luacheck, stylua

refactor(nvim): remove fugitive plugin
  .config/nvim/lua/specs/fugitive.lua
Due: luacheck, stylua

feat(nvim): add dressing plugin
  .config/nvim/lua/specs/dressing.lua
Due: luacheck, stylua

fix(nvim): use built-in lua unpack
  .config/nvim/lua/specs/cmp.lua
Due: luacheck, stylua

feat(nvim): add mini-files plugin
  .config/nvim/lua/specs/mini-files.lua
Due: luacheck, stylua

feat(nvim): update plugins
  .config/nvim/lazy-lock.json
Due: prettier --write

feat(nvim): add accept_word mapping to copilot
  .config/nvim/lua/specs/copilot.lua
Due: luacheck, stylua

refactor(nvim): remove tabs from cokeline
  .config/nvim/lua/specs/cokeline.lua
Due: luacheck, stylua

feat(nvim): add copilot-chat plugin
  .config/nvim/lua/specs/copilot-chat.lua
Due: luacheck, stylua

feat(nvim): add cmp copilot-chat integration
  .config/nvim/lua/specs/cmp.lua
Due: luacheck, stylua

fix(git): use correct date index for standup command
  .config/git/aliases.gitconfig
Due: none

fix(nvim): add build command to copilot to fix multiple line bug
  .config/nvim/lua/specs/copilot.lua
Due: luacheck, stylua

refactor(nvim): remove mini-files
  .config/nvim/lua/specs/mini-files.lua
Due: luacheck, stylua

feat(nvim): update nvim plugins
  .config/nvim/lazy-lock.json
Due: prettier --write

refactor(git): change work.gitconfig to wavera.gitconfig
  .config/git/config
  .config/git/wavera.gitconfig
Due: none

refactor(nvim): improve catppuccin overrides
  .config/nvim/lua/specs/catppuccin.lua
Due: luacheck, stylua

refactor(nvim): do not use bold text
  .config/nvim/lua/specs/catppuccin.lua
Due: luacheck, stylua

feat(kitty): add new font settings
  .config/kitty/config/fonts.conf
  .config/kitty/config/tweaks.conf
Due: none

refactor(nvim): use snake_case for file names
  .config/nvim/lua/specs/copilot_chat.lua
  .config/nvim/lua/specs/ts_comments.lua
Due: luacheck, stylua

refactor(nvim): use empty space for fillchars.diff
  .config/nvim/plugin/settings.lua
Due: luacheck, stylua

refactor(nvim): use <Space-q> to quit windows
  .config/nvim/plugin/mappings/normal.lua
Due: luacheck, stylua

refactor(telescope): adjust telescope floating window options
  .config/nvim/lua/specs/telescope.lua
Due: luacheck, stylua

refactor(nvim): set floating window options for diagnostics
  .config/nvim/lua/specs/lsp.lua
Due: luacheck, stylua

Path conditions:
  luacheck: any of: *.lua
  stylua: any of: *.lua
  prettier --write: any of: *.{json,md}
