Repository Kutsan/dotfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: luacheck, stylua, prettier --write

feat(lf): add new jump commands
  .config/lf/lfrc
Due: none

feat(kitty): change kitty logo
  .config/kitty/kitty.app.icns
  .config/kitty/kitty.app.png
Due: none

refactor(git): change email address
  .config/git/config
Due: none

build: change website and email address in package.json
  package.json
Due: prettier --write

refactor(git): change signing key
  .config/git/config
Due: none

refactor(zsh): remove fast-syntax-highlighting fork
  .gitmodules
Due: none

feat(zsh): add fast-syntax-highlighting submodule from origin
  .gitmodules
Due: none

docs: remove trash-cli from installed software
  README.md
Due: prettier --write

refactor(nvim): remove editorconfig since neovim supports it right now
  README.md
Due: prettier --write

feat: add local trash utility
  .local/bin/trash
Due: none

refactor(nvim): add copilot support
  .config/nvim/plugin/packages/cmp.lua
  .config/nvim/plugin/packages/copilot.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

refactor(nvim): set terminal colors for catppuccin
  .config/nvim/plugin/packages/catppuccin.lua
Due: luacheck, stylua

feat(nvim): add cmdline source for cmp
  .config/nvim/plugin/packages/cmp.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

feat(nvim): update nvim tree glyphs config
  .config/nvim/plugin/packages/nvim_tree.lua
Due: luacheck, stylua

refactor(nvim): update devicons overrides
  .config/nvim/plugin/packages/devicons.lua
Due: luacheck, stylua

feat(nvim): remove cmp-copilot
  .config/nvim/plugin/packages/cmp.lua
  .config/nvim/plugin/packages/copilot.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

perf(nvim): use experimental loader
  .config/nvim/init.lua
Due: luacheck, stylua

refactor(lf): update lf icons with nerd font v3 release
  .config/lf/icons
  .config/zsh/config/exports.zsh
Due: none

refactor(ls): remove dircolors dividers
  .config/ls/dircolors
Due: none

build(zsh): use default curl and grep
  .config/nvim/plugin/settings.lua
  .config/zsh/config/exports.zsh
  README.md
Due: luacheck, stylua, prettier --write

refactor(nvim): update cmp kind icons
  .config/nvim/plugin/packages/cmp.lua
Due: luacheck, stylua

refactor(nvim): update indent blankline config
  .config/nvim/plugin/packages/indent_blankline.lua
Due: luacheck, stylua

refactor(nvim): update catppuccin overrides for updated plugins
  .config/nvim/plugin/packages/catppuccin.lua
Due: luacheck, stylua

feat(kitty): add undercurl_style option
  .config/kitty/config/fonts.conf
Due: none

refactor(nvim): remove indent-blankline plugin
  .config/nvim/plugin/packages/indent_blankline.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

feat(nvim): add listchars multispace and leadmultispace options
  .config/nvim/plugin/settings.lua
Due: luacheck, stylua

feat(nvim): disable 'list' option for undotree filetype
  .config/nvim/ftplugin/undotree.lua
Due: luacheck, stylua

refactor(nvim): tweak 'list' option for ftplugins
  .config/nvim/ftplugin/ledger.lua
  .config/nvim/ftplugin/undotree.lua
Due: luacheck, stylua

feat(nvim): search for untracked files
  .config/nvim/plugin/packages/fzf_lua.lua
Due: luacheck, stylua

refactor(nvim): remove bufferline plugin
  .config/nvim/plugin/packages/bufferline.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

feat(nvim): add cokeline bufferline plugin
  .config/nvim/plugin/packages/cokeline.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

refactor(kitty): use Monaspace Neon font
  .config/kitty/config/fonts.conf
Due: none

refactor(nvim): use is_nvim_tree_buf utility for nvim autocmd
  .config/nvim/plugin/autocmds.lua
Due: luacheck, stylua

refactor(nvim): update catppuccin overrides
  .config/nvim/plugin/packages/catppuccin.lua
Due: luacheck, stylua

feat(nvim): add treesitter-autotag
  .config/nvim/plugin/packages/treesitter.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

feat(nvim): add treesitter-text-objects plugin
  .config/nvim/plugin/packages/treesitter.lua
  .gitmodules
  README.md
Due: luacheck, stylua, prettier --write

Path conditions:
  luacheck: any of: *.lua
  stylua: any of: *.lua
  prettier --write: any of: *.{json,md}
